    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href=":U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Slide show</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:U('Flash/add')}"><i class="icon-font"></i>Add a slideshow</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>Picture</th>
                            <th>Website</th>
                            <th>Title</th>
                            <th>Order</th>
                            <th>Update time</th>
                            <th>Operate</th>
                        </tr>
                        <volist name="flash" id="vo" empty="$empty">
                        <tr>
                            <td><notempty name="vo.pic"><img style=" width:400px; padding-left:120px;" src='{$vo.pic}' /><else/>No picture data yet</notempty></td>
                            <td>{$vo.jump_url}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.sort}</td>
                            <td>{$vo.add_time|date="Y-m-d",###}</td>
                            <td>
                                <a class="link-update" href="{:U('Flash/add',array('flash_id'=>$vo['flash_id']))}">Modify</a>
                                <a class="link-del" href="{:U('Flash/del',array('flash_id'=>$vo['flash_id']))}">Delete</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(2).show();
$(".sub-menu").eq(2).children("li").eq(0).addClass("on");
</script>