<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<meta name="renderer" content="webkit">
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/iconfont/demo.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/iconfont/iconfont.css"/>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/libs/modernizr.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/Public/js/layer/layer.js"></script>
    <script type="text/javascript" src="/Public/js/laydate/laydate.js"></script>
    
	<link type="text/css" href="/Public/Admin/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
    <link type="text/css" href="/Public/Admin/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <script type="text/javascript" src="/Public/Admin/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/jquery-ui-timepicker-zh-CN.js"></script>

    <script>
(function ($) {
    // 汉化 Datepicker
    $.datepicker.regional['zh-CN'] =
    {
        clearText: 'Clear ', clearStatus: 'clear selected date',
        closeText: 'Close ', closeStatus: 'do not change current selection',
        prevText: '<last month', prevStatus: 'Show last month',
        nextText: 'next month>', nextStatus: 'Show next month',
        currentText: 'Today', currentStatus: 'Show this month',
        monthNames: ['January ', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'],
        monthNamesShort: ['one two three four five six',
         'seven', 'eight', 'nine', 'ten', '11', 'twelve'],
        monthStatus: 'Select month', yearStatus: 'Select year',
         weekHeader: 'week', weekStatus: 'year of the week',
         dayNames: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
         dayNamesShort: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
         dayNamesMin: ['day', 'one', 'two', 'three', 'four', 'five', 'six'],
         dayStatus: 'Set DD to start at week', dateStatus: 'Select m month d day, DD',
         dateFormat: 'yy-mm-dd', firstDay: 1,
         initStatus: 'Please select date', isRTL: false
    };
    $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
 
    //汉化 Timepicker
  $.timepicker.regional['zh-CN'] = {
    timeOnlyTitle: 'Select time',
     timeText: 'time',
     hourText: 'hour',
     minuteText: 'minute',
     secondText: 'seconds',
     milliseceText: 'microsecond',
     timezoneText: 'time zone',
     currentText: 'now time',
     closeText: 'close',
    timeFormat: 'hh:mm',
    amNames: ['AM', 'A'],
    pmNames: ['PM', 'P'],
    ampm: false
  };
  $.timepicker.setDefaults($.timepicker.regional['zh-CN']);
})(jQuery);
</script>
<style>
.iconfont{ padding-right:5px;}
.fsize{ font-size:15px;}
</style>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">Backstage</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">Home</a></li>
                <li><a href="{:U('Index/index')}" target="_blank">Website homepage</a></li>
                <li><a href="{:U('Index/infoStatistics')}" target="_blank">Total website statistics</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="{:U('Manage/index')}">Administrator</a></li>
                <li><a href="{:U('Manage/pwdUpdate')}">Change password</a></li>
                <li><a href="{:U('Login/loginout')}">Logoff</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>Menu</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                 <notempty name='sys_nav'>
                 <li>
                    <a href="#"><i class="iconfont">&#xe614;</i><span class="fsize">System</span></a>
                    <ul class="sub-menu">
                        
                        	<volist name='sys_nav' id='vo'>
                        		<li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                        
                    </ul>
                </li>
               </notempty>
			   
			   <notempty name='bank_nav'>
                <li>
                    <a href="#"><i class="iconfont">&#xe635;</i><span class="fsize">Bank</span></a>
                    <ul class="sub-menu">
                        	<volist name='bank_nav' id='vo'>
                        		<li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                    </ul>
                </li>
                </notempty>
				
               <notempty name='common_nav'>
                <li>
                    <a href="#"><i class="iconfont">&#xe635;</i><span class="fsize">Common operation</span></a>
                    <ul class="sub-menu">
                        	<volist name='common_nav' id='vo'>
                        		<li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                    </ul>
                </li>
                </notempty>
                
                <notempty name='user_nav'>
                <li>
                    <a href="#"><i class="iconfont">&#xe64d;</i><span class="fsize">Membership</span></a>
                    <ul class="sub-menu">
                    
                        	<volist name='user_nav' id='vo'>
                        		<li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                    </ul>
                </li>
                </notempty>
				
                 <notempty name='bonus_nav'>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i><span class="fsize">Dividend</span></a>
                    <ul class="sub-menu">
                    
                        	<volist name='bonus_nav' id='vo'>
                        		<li><a href="{$vo.nav_url}"><i class="icon-font">&#xe017;</i>{$vo.nav_name}</a></li>
                            </volist>
                    </ul>
                </li>
                </notempty>
				
                <notempty name='zhongchou_nav'>
                <li>
                    <a href="#"><i class="iconfont">&#xe650;</i><span class="fsize">Crowdfunding</span></a>
                     <ul class="sub-menu">
                     
                        	<volist name='zhongchou_nav' id='vo'>
                        		<li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                    </ul>
                </li>
               </notempty>
                
                <notempty name='finance_nav'>
                <li>
                    <a href="#"><i class="iconfont">&#xe6c8;</i><span class="fsize">Financial</span></a>
                     <ul class="sub-menu">
                     
                        	<volist name='finance_nav' id='vo'>
                        		<li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                    </ul>
                </li>
               </notempty>

                <notempty name='trade_nav'>
                    <li>
                        <a href="#"><i class="iconfont">&#xe631;</i><span class="fsize">Trading</span></a>
                        <ul class="sub-menu">
                            <volist name='trade_nav' id='vo'>
                                <li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                        </ul>
                    </li>
                </notempty>
                
                <notempty name='wallet_nav'>
                    <li>
                        <a href="#"><i class="iconfont">&#xe631;</i><span class="fsize">Wallet currency</span></a>
                        <ul class="sub-menu">
                            <volist name='wallet_nav' id='vo'>
                                <li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                        </ul>
                    </li>
                </notempty>
                
                  <notempty name='article_nav'>
                    <li>
                        <a href="#"><i class="iconfont">&#xe6f7;</i><span class="fsize">Article</span></a>
                        <ul class="sub-menu">
                            <volist name='article_nav' id='vo'>
                                <li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                        </ul>
                    </li>
                </notempty>
                
                <notempty name='admin_nav'>
                    <li>
                        <a href="#"><i class="iconfont">&#xe64d;</i><span class="fsize">Administrator</span></a>
                        <ul class="sub-menu">
                            <volist name='admin_nav' id='vo'>
                                <li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                        </ul>
                    </li>
                </notempty>
                <notempty name='tongji_nav'>
                    <li>
                        <a href="#"><i class="iconfont">&#xe64d;</i><span class="fsize">Statistics</span></a>
                        <ul class="sub-menu">
                            <volist name='tongji_nav' id='vo'>
                                <li><a href="{$vo.nav_url}"><i class="iconfont">{$vo.nav_e}</i>&nbsp;{$vo.nav_name}</a></li>
                            </volist>
                        </ul>
                    </li>
                </notempty>
            </ul>
        </div>
    </div>
<script>
$(".sidebar-list li").children("a").on("click",function(){
	$(this).next(".sub-menu").toggle();
});
</script>
