    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Financial details</span></div>
        </div>
        <div class="search-wrap">
        </div>
        <div class="result-wrap">
             <table class="result-tab" width="100%">
                <tr>
                    <td>Manually recharge total</td>
                    <td>{$pay|default='0.00'}</td>
                    <td>Administrator recharge total</td>
                    <td>{$pay_admin|default='0.00'}</td>
                </tr>
                <tr>
                    <td>Total withdrawal success</td>
                    <td>{$draw|default='0.00'}</td>
                    <td>Total amount held by a member</td>
                    <td>{$rmb|default='0.00'}</td>
                </tr>
                <volist name="currency_user" id="vo">
                <tr>
                    <td>Members have a total of {$vo.name|default='digital coins'} coins available</td>
                    <td>{$vo.num|default='0.00'}</td>
                    <td>Members hold a total of {$vo.name|default='digital currency'} currency freeze</td>
                    <td>{$vo.forzen_num|default='0.00'}</td>
                </tr>
                </volist>
            </table>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(6).show();
$(".sub-menu").eq(6).children("li").eq(2).addClass("on");
</script>