    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Bank card</span></div>
        </div>
        <div class="search-wrap">
            
        </div>
        <div class="result-wrap">

            <div class="result-title">
                <div class="result-list">
                    <a href="{:U('Websitebank/addBank')}"><i class="icon-font"></i>Add bank card</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                       
                        <th>Payee</th>
						<th>Payee account</th>
                        <th>Payee Bank</th>
                        <th>Status</th>
                        <th>Operate</th>
                    </tr>
                    <volist name='list' id='vo'>
                        <tr>
                            <td>{$vo['bank_name']}</td>
                            <td>{$vo['bank_no']}</td>
							<td>{$vo['bank_adddress']}</td>
                            <td><if condition="$vo['status'] eq 1">
									Open
								</if>
								<if condition="$vo['status'] eq 2">
									Close
								</if>
							
								</td>
                            <td>
                                <a class="link-update" href="{:U('Websitebank/saveBank',array('bank_id'=>$vo['bank_id']))}">Modify|</a>
								<a href="javascript:void(0)" class="link-del" onclick="cexiao({$vo.bank_id})">Delete</a>
                            </td>
                        </tr>
                    </volist>

                </table>
                <div class="list-page"> <ul>{$page}</ul></div>
            </div>

        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
	function cexiao(_this){
		layer.confirm('Confirm delete bank card?', {
	  btn: ['Confirm','Cancel'], //按钮
	  title: 'Cancel delete bank card?'
	}, function(){
	  $.post('{:U('Websitebank/delBank')}',{bank_id:_this},function(data){
				   if(data['status'] == 1){
					   layer.msg(data['info']);
					   setTimeout(function(){location.reload();},1000);
				   }else{
					   layer.msg(data['info']);
				   }
			})
	}, function(){
	  layer.msg('Cancelled');
	});

	}
</script>
<script>
$(".sub-menu").eq(1).show();
$(".sub-menu").eq(1).children("li").eq(0).addClass("on");
</script>