    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">
		

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Manual recharge record</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
				<div class="search-wrap">
					<div class="search-content">
						<form action="{:U('Pay/payByMan')}" method="post">
							<table class="search-tab">
								<tr>
									<th width="120">Choose category:</th>
									<td>
										<select name="status" id="">
											<option value="">All</option>
											<option value="0">Unpaid</option>
											<option value="1">Recharge successful</option>
											<option value="2">Recharge failed</option>
											<option value="3">Expired</option>
										</select>
									</td>
									<th width="70">Remittance:</th>
									<td><input class="common-text" placeholder="Remittance" name="member_name" value="" id="" type="text"></td>
									<td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
									</tr>
                                    <tr>   
                                    <th><i class="require-red">*</i>Starting time: </th>
                                    <td>
                            
                                    <div class="row"><div class="col-md-6">
                                                    <i class="fa fa-calendar"></i></span>
                                                    <input type="text" name="add_time" class="ui_timepicker" id="aaaaa1" placeholder="Select date and time" value="{$list.add_time|date='Y-m-d H:i:s',###}"  />
                                                </div></div></td>
                                  <script type="text/javascript">
                                    $(function () {
                                        $("#aaaaa1").datetimepicker({
                                            //showOn: "button",
                                            //buttonImage: "./css/images/icon_calendar.gif",
                                            //buttonImageOnly: true,
                                            showSecond: true,
                                            timeFormat: 'hh:mm:ss',
                                            stepHour: 1,
                                            stepMinute: 1,
                                            stepSecond: 1
                                        })
                                            $("#aaaaa2").datetimepicker({
                                            //showOn: "button",
                                            //buttonImage: "./css/images/icon_calendar.gif",
                                            //buttonImageOnly: true,
                                            showSecond: true,
                                            timeFormat: 'hh:mm:ss',
                                            stepHour: 1,
                                            stepMinute: 1,
                                            stepSecond: 1
                                        })
                                   
                                    })
                                </script>
                                    <th><i class="require-red">*</i>Deadline:</th>
                                    <td><div class="row"><div class="col-md-6">
                                                    <i class="fa fa-calendar"></i></span>
                                                    <input type="text" name="end_time" class="ui_timepicker" id="aaaaa2" placeholder="Select date and time" value="{$list.end_time|date='Y-m-d H:i:s',###}" / >
                                                </div></div></td>
									<td><input class="btn btn-primary btn2" name="sub" value="Download form" type="button" onclick="download()"></td>
								</tr>
								
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>Order number</th>
                            <th>Remittance account</th>
                            <th>Remittance</th>
                            <th>Bank card number</th>
                            <th>Recharge amount</th>
                            <th>Actual amount</th>
                            <th>Recharge reward</th>
                            <th>Status</th>
                            <th>Time</th>
                            <th>Operate</th>
                        </tr>
                        <volist name="list" id="vo" empty="$empty">
                        <tr>
                            <td>{$vo.pay_id}</td>
                     		<td>{$vo.email}</td>
                            <td>{$vo.member_name}</td>
                            <td>{$vo.account}</td>
                            <td>{$vo.money}</td>
                            <td>{$vo.count}</td>
                            <td>{$vo.pay_reward}</td>
                            <td><eq name='vo.status' value='Please pay'>Unpaid<else/>{$vo.status}</eq></td>
                            <td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                            
                                <eq name='vo.status' value='Please pay'>
									<a class="link-update"  href="javascript:void(0);" onClick="pass({$vo['pay_id']});">Pass</a>
									<a class="link-del" href="javascript:void(0);" onClick="fail({$vo['pay_id']})">Not pass</a>
								<else/>
									Operation finished
								</eq>
                            </td>
                        </tr>
                        </volist>
                    </table>
                     <div class="list-page"> <ul>{$page}</ul></div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>
function pass(id){
	layer.confirm(
	'Confirm pass review', 
	{btn:['Confirm','Cancel']},
	function(){
	  $.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":1},function(data){
		  if(data.status==0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
	}
	),
	function(){
		layer.msg('Cancelled');
	}
}

function fail(id){
	layer.confirm(
	'Confirm fail review', 
	{btn: ['Confirm','Cancel'],},
	function(){
		//href="{:U('Pay/payUpdate',array('pay_id'=>$vo['pay_id'],'status'=>1))}			
		$.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":2},function(data){
				if(data.status == 0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
					
				}else if(data.status == 2){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
		}
		),
	 function(){
		layer.msg('Cancelled');
	}
}
</script>
<script>
$(".sub-menu").eq(6).show();
$(".sub-menu").eq(6).children("li").eq(1).addClass("on");
</script>
<script>
function download(){
	var add_time=$('#aaaaa1').val();
	var end_time=$('#aaaaa2').val();
	var url="{:U('Pay/derivedExcel')}";
	window.location.href=url+"?add_time="+add_time+"&&end_time="+end_time;
}
</script>