 <include file="App/Home/View/Public/header.html"/>
 <style>
 .pass_ybc{ min-height:400px !important;}
 .my_add{ margin-bottom:0px !important;}
 </style>
<div id="main">
  <div class="main_box"> <include file="App/Home/View/Public/left.html"/>
    <div class="raise right clearfix"> 
      <script type="text/javascript" src="js/ajax.js"></script> 
      <script type="text/javascript" src="js/Fnc.js"></script> 
      <script type="text/javascript" src="js/inputFormat.js"></script>
      <div class="ybc_list">
        <div class="ybcoin">
          <h2 class="left">withdraw</h2>
          <div class="clear"></div>
        </div>
      </div>
      <div class="support_ybc pass_ybc" id="verifyon"> 
        <div id="tagContent" class="passContent">
          <div class="tagContent selectTag" id="tagContent0">
            <h2 class="choose_one">Choose a withdraw address 
            </h2>
            <table class="my_add" border="0" cellpadding="0" cellspacing="0">
              <thead>
                <tr align="center">
                  <th>Choose</th>
                  <th>Address tag</th>
                  <th>Withdraw address</th>
                  <th>Operate</th>
                </tr>
              </thead>
              <volist name="bank_info" id="vo">
              <thead>
              	  <th><input type="radio" value="{$vo.id}" id="bank_id" name="redios" onclick="bank_id()"></th>
                  <th>{$vo.bname}</th>
                  <th>{$vo.bankname}|{$vo.cardnum}|{$vo.cardname|default="no"}|{$vo.barea_name}|{$vo.aarea_name}</th>
                  <th><a class="link-del" href="javascript:void(0);" onclick="checkSuccess({$vo.id})">Delete</a></th>
                 
              </thead>
              </volist>
              
              <script>
			  function checkSuccess(_this){
					layer.confirm(
					'Confirm Delete', 
					{btn:['Confirm','Cancel']},
						function(){
							$.post("{:U('User/delete')}",{'id':_this},function(data){
									if(data.status>0){
										layer.msg(data.info);
										window.location.reload();
									}else{
										layer.msg(data.info);
										window.location.reload();
									}
							});	 
						}
					),
					function(){
						layer.msg('Cancelled');
					}
					
			}
			  
					function bank_id(){
						var list= $('input:radio[name="redios"]:checked').val();
						$("#select_bank").val(list);
					}
              </script>
             </table>
           <table id="addNewAddr" class="add_list" border="0" cellpadding="0" cellspacing="0" style="display:none"> 
              <tbody>
                <tr>
                 <form action="{:U('User/insert')}" method="post" id="bankform" jump-url="{:U('User/draw')}">
                  <td colspan="4" id="newAddress" style="">
                  <div id="rmb_out_ok">
                      <ul class="ybc_con" id="rollout" style="margin-top:10px;">
                        <li>
                          <label>New label:</label>
                          <input name="new_label" id="new_label" placeholder="例：提现卡01" type="text">
                          <span class="note">Personal note information</span></li>
                        <li>
                          <label>Account name: </label>
                          <input name="name" id="name" value="{$auth}" class="loginValue" disabled="disabled" type="text">				
                          
                          <span class="false" id="accountmsg">Same as real-name authentication information and cannot be modified</span> </li>
                        <li>
                          <label>Bank name: </label>
                          <select name="bank" id="bank" class="loginValue" style="width:264px; border:1px solid #e1e1df;">
                            <option selected="selected" value="">Please choose bank</option>
                            <option value="Apple pay">Apple pay</option>
                            <option value="paypal">paypal</option>
                            <option value="Master Card">Master Card</option>
                            <option value="Visa Card">Visa Card</option>
                            <option value="Debit Card">Debit Card</option>
                          </select>
                          <span class="rePWB" id="bankmsg"></span> 
                          </li>
                        <li>
                          <label>Bank card location: </label>
                          <select  id="p1" style="width:130px; border:1px solid #e1e1df;">
                            <option selected="selected" value="">province</option>
                            <volist name="areas" id='row'> 
                            <option value="{$row['area_id']}" 
                              <eq name="row.area_id" value="$list.province">selected="selected"</eq>>
                              {$row['area_name']}
                              </option>
                            </volist>
                          </select>
                          <select id="c1" style="width:130px; border:1px solid #e1e1df;" onchange="city();">
                            <option selected="selected" value="">City</option>
                          </select>
                      		<input type="hidden" name="shi" id="shi">
                        </li>
                        <li><label>Account branch: </label>
                          <input name="bank_branch" id="bank_branch" class="loginValue" style="font-size:14px;font-weight:bold;color:#f60;background:#fff7f2;" type="text">
                         <span class="false" style="color:#f00;">Can't be empty, if not please fill in "none"</span> </li>
                        <li>
                          <label id="kh">Bank card number: </label>
                          <input onkeyup="value=value.replace(/[^\d]/g,'')" name="account" id="account" class="loginValue" style="font-size:14px;font-weight:bold;color:#f60;background:#fff7f2;" type="text">
                          <span class="false" id="accountmsg" style="color:#f00;">The bank card number and account opening name must be the same, otherwise it will not be able to arrive.</span> </li>
                        <li id="yes_add">
                          <label>&nbsp;</label>
                          <input class="addition"  value="Confirm add" type="submit">
                       
<script>
	function city(){
		$("#shi").val($("#c1").val());
	}
	$("#p1").change(function(){
	$.post("{:U('User/getCity')}",{'id':$("#p1").val()},function(data){
	  $("#c1").empty();
		var area=new Option("Please Choose","");
		$("#c1").append(area);
		if(data.length>0){
			for(var i=0;i<data.length;i++){
				var option = new Option(data[i]["area_name"], data[i]["area_id"]);	
				$("#c1").append(option);		
		}
		}else{
			$("#c1").append("<option value='0'>No corresponding city information</option>");
		}
		});	 	  	  
	});

</script> 
<script>
function zfb(){
	if($('#bank').val()=="Apple pay"){
		$('#kh').html('Apple pay card number: ');
		$('#accountmsgs').html('The Apple pay account number and name must be the correct, otherwise you will not be able to get paid.');
	}else{
		$('#kh').html('Bank card number: ');
		$('#accountmsgs').html('The bank card number and account opening name must be the same, otherwise it will not be able to arrive.');
	}
}
</script>
                          
<script>
	  $("#bankform").validate({
        rules: {
			new_label:"required",
			
			bank:"required",
			
			province:"required",
			
			city:"required",
			bank_branch:"required",
			account:{required:true,
					 rangelength:[16,19]
					 }
        },
        messages: {
			
			new_label:"Please fill in the label",
			
			bank:"Please choose bank",
			
			province:"Please choose correct province",
			
			city:"Please choose Valid city/district",
			bank_branch:"Please fill in account branch",
			account:{required:"Please enter bank card number",
					 rangelength:"Please enter a valid card number"}
        },
	    submitHandler:function(form){
            ajax_submit_form(form)
            return false;
        },
        invalidHandler: function() {  //不passed回调
            return false;
        }
    });
</script>
                          
                          <span id="showMsg_address" style="color:red;">Add up to 10 withdraw address</span> </li>
                      </ul>
                      
                  </div>
                  </td>
                  </form>
                </tr>
                <tr style="display:none;" id="phone_alert" align="right">
                  <td colspan="4"><span style="color:#f00;">The system has dialed your mobile phone to tell the verification code. Please enter the verification code.</span>
                    <input class="verify_text" id="phone_code_bank" type="text">
                    <input class="verify" id="add_bankcards" onclick="cnyOut.finaddAddress()" value="Confirm" type="button"></td>
                </tr>
                </tbody>
            </table>
           
           
            <center>
            <table>
                <tr id="addAddress_tr" align="center">
                  <td colspan="4" class="list" align="center">
                  <eq name="num" value="1"><a href="javascript:void(0);" id="addNewAddress" onclick="addNewAddr();">Click on Binding Bank Card</a>
                  <else/>
                  <td style="color:red;">Add up to 10 withdraw address</td>
                  </eq></td>
                </tr>
            </table>
            </center>
            <script>
				function addNewAddr(){
					document.getElementById("addNewAddr").style.display="";//显示
					document.getElementById("addAddress_tr").style.display="none";//隐藏
				}
			</script>
            <h2 class="choose_one">Enter the amount to withdraw<span>(available Balance:<strong>{$rmb.rmb}</strong>)</span><span style="float:right;margin-right:20px;"><strong id="rmbout_showtips"></strong></span></h2>
           
           <form action="{:U('User/withdraw')}" method="post" id="drawform" jump-url="{:U('User/draw')}">
           <table class="my_add" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="position:relative; padding-left:90px;">Withdraw amount
                  	<input name="select_bank" id="select_bank" type="hidden">
                    <input style="display:none">
                    <!-- for disable autocomplete on chrome -->
                    <input class="sum" name="money" id="money"  autocomplete="off" type="text" onkeyup="value=value.replace(/[^\d]/g,'');sjdz();">
                    </td>
                  <td>Actual amount
                    <input class="sum" id="true_daozhang" disabled="disabled" type="text">
                    <span style="color:#f60;">Process fee {$config.fee}%</span></td> 
                  
                  
                </tr> 
                <tr>
                  <td style=" padding-left:90px;">transaction password
                    <input style="display:none" type="password">
                    <!-- for disable autocomplete on chrome -->
                    <input class="sum" name="pwdtrade" id="pwdtrade" autocomplete="off" type="password"></td>
                  <td>verification code
                    <input style="display:none" type="password">
                    <!-- for disable autocomplete on chrome -->
                    <input class="sum" name="code" id="code" autocomplete="off" type="password">
                    <input class="confirm"  value="Click to send" type="button" id="msgt" data-key='off' onclick="sandPhone()"></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input style=" float:right; margin-right:103px;" class="confirm"  value="Confirm submission" type="submit"></td>
                </tr>
              </tbody>
            </table>
            </form>
            <script>
				$("#drawform").validate({
				rules: {
					money:{
						required: true,
						min: 100,
						max: 50000,
					  }, 
					pwdtrade:"required", 
					code:"required", 
				},
				messages: {
					money:{
						required: "Please fill in the withdrawal amount",
						min: "The minimum amount of withdrawal is 100",
						max: "The maximum amount of withdrawal is 50000",
						},
					
					pwdtrade:"Please enter transaction password",
					code:"Please enter verification code",
				},
				submitHandler:function(form){
					ajax_submit_form(form)
					return false;
				},
				invalidHandler: function() {  //不passed回调
					return false;
				}
			});
			function sjdz(){
				var fee = {$config.fee};
				var m ;
				
					m = $("#money").val()-$("#money").val()*fee*0.01;
				
				$("#true_daozhang").val(m);
			}
			</script>

            <h2 class="choose_one">{$art.title}</h2>
            <div class="turns Font14"> 
              <input id="cny_outfee" value="0.003" type="hidden">
            {$config.withdraw_warning}
            </div>
          </div>
          <div class="tagContent" id="tagContent1">
            
            <form action="{$User/withdraw}" method="post">
              <ul class="ybc_con" id="rollout">
                <li>
                  <label>Withdrawal amount:</label>
                  <input style="display:none;">
                  <!-- for disable autocomplete on chrome -->
                  <input style="float:left;" name="number" onkeyup="value=value.replace(/[^\d.]/g,'')" id="num2" value="0" autocomplete="off" type="text">
                  <span class="note left" style=" height:40px; display:table-cell; vertical-align: middle;">Transfer out amount can not be less than 10</span>
                  <div class="clear"></div>
                </li>
                <li>
                  <label>transaction password：</label>
                  <input style="display:none;">
                  <!-- for disable autocomplete on chrome -->
                  <input name="pwdtrade" id="pwdtrade2" autocomplete="off" type="password">
                  <span class="note">Please enter transaction password</span></li>
                <li>
                  <label>&nbsp;</label>
                  <input class="queding" value="Confirm " type="submit">
                </li>
              </ul>
              <div class="turns">
                <h2>Instructions</h2>
                <p>1. Withdraw cash to the same name account Bank.</p>
                <p>2. Timely arrival.</p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="ybc_list">
        <div class="ybcoin">
          <h2 class="left">Withdrawals record</h2>
          <div class="clear"></div>
        </div>
        <table class="raise_list" style="border:1px solid #e1e1df;" align="center" border="0" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Transfer in account</th>
              <th>Transfer in amount</th>
              <th>Acutual amount</th>
              <th>Transaction time</th>
              <th>Status</th>
              <th>operate</th>
            </tr>
          </thead>
          <tbody>
            <volist name="draw_info" id="vo">
            <tr id="btc_box" class="btc_new" >
              <td id="btc_id">{$vo.withdraw_id}</td>
              <td id="btc_wallet">{$vo.cardnum}</td>
              <td id="btc_number">{$vo.all_money}</td>
              <td id="btc_fee">{$vo.money}</td>
              <td id="btc_created">{$vo.add_time|date='Y-m-d H:i:s',###}</td>
              <td class="tableEnd" id="btc_status"><eq name="vo.status" value="1">Not pass<else/><eq name="vo.status" value="2">passed<else/>under review</eq></eq></td>
              <td><eq name="vo.status" value="3"><a href="javascript:void(0);" onclick="chexiao({$vo.withdraw_id});">cancel</a></eq></td>
            </tr>
            </volist>
          </tbody>
        </table>
      </div>
    </div>
    <style>
.btc_new,.btc_new td {background: #DDFFDD !important;}#cb_msg_box{background:#B50000;color:#FFF;display:none;text-align:center;padding:0px;}
</style>
<!--    <script type="text/javascript" src="js/tab2.js"></script> 
    <script src="js/form.js"></script> 
    <script src="js/city.js"></script> 
    <script src="js/cnyout.js"></script> -->
<script>
$("document").ready(function(){
    //initProvinceCity($("#p1"),$("#c1"));
    //$('#account').inputFormat('account');
    // $('#money_rmb').inputFormat('amount');
});
</script> 

  </div>
  <div class="clear"></div>
</div>
<script>
    $(".menu14").addClass("uc-current");

    function showTips(id,msg){
        var tips = layer.tips(msg, id, {
            tips: [1, '#fff8db'],
            area: ['400px', '35px']
        });
        $(id).on('mouseout', function(){
            layer.close(tips);
        });
    }
</script>
<script>
function chexiao(id){
		layer.confirm(
		'Confirm cancel', 
		{btn:['Confirm ','Cancel']},
		function(){
		  $.post("/Home/User/chexiaoByid",{"id":id},function(data){
			  if(data.status==0){
						layer.msg(data['info']);
						window.location.reload();
					}else{
						layer.msg(data['info']);
						window.location.reload();
					}
			})
		}
		),
		function(){
			layer.msg('Cancelled');
		}
		
}
function sandPhone(){
        var i=120;
       
		var phone = $("mo").val();
        if(phone && /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/.test(phone)){
            layer.msg("Please fill in the correct mobile number");
        }else{
            $.post("{:U('ModifyMember/ajaxSandPhone')}",{phone:encodeURIComponent($("#mo").val())},
                    function(d){
                       layer.msg(d.info);
                        if(d.status==1){
							var tid2;
							tid2=setInterval(function(){
								if($("#msgt").attr("data-key")=='off'){
									$("#msgt").attr("disabled",true);
									$("#msgt").removeClass("class");
									$("#msgt").addClass("button again");
									i--;
									$("#msgt").val(i+"seconds before can be resent");
									if(i<=0){
										$("#msgt").removeAttr("disabled").val("resent verification code");
										$("#msgt").attr("data-key","on");
									}
								}
							},1000);
							 i=120;
                            $("#msgt").attr("data-key","off");
                        }
                    });
        }
    }</script>
<!--footer start--> 
<include file="App/Home/View/Public/footer.html"/>