<include file="App/Home/View/Public/header.html"/>
<style>
.coin_footer{background-color:#f8f8f8;}
</style>
    <!--top end-->
<script src="__PUBLIC__/Home/js/clipboard.min.js"></script>
<!--[if lt IE 9]> 
        <script>
        	$(document).ready(function(e) {
                $(".cpybtn").on("click",function(){
					var inputTxt = $("#cpytxt").val();
					window.clipboardData.setData("Text",inputTxt);
					$(".cpypt").show();
					setTimeout(function(){$(".cpypt").hide();},1000);
				});
            });
        </script>
        <![endif]-->
        <script>
				var clipboard = new Clipboard('#copy');
				clipboard.on('success', function(e) {
					console.log(e);
					alert("Copied");
					//$(".cpypt").show();
					//setTimeout(function(){$(".cpypt").hide();},1000);
				});
		
				clipboard.on('error', function(e) {
					console.log(e);
					alert("Browser does not support direct copy, please select the connection, ctrl + c copy");
				});

        </script>
<div id="main">
	<div class="main_box">
		<include file="App/Home/View/Public/left.html"/>
		<div class="raise right clearfix">
<div class="ybc_list">
                <div class="ybcoin invitecon" style="border-bottom:1px solid #e2e2e2;">
                    <h2 class="left"><font style="color:red;font-size:14px;">&nbsp;</font></h2>
                    <div class="clear"></div>
                </div>
                <div class="ybcoin invitecon" style="margin-bottom:0;">
                    <h2>Copy the following to your friends<span style="margin-left:20px;color:red;">Your invitation code is: {$Think.session.USER_KEY_ID}</span></h2>
                    <div>
                        <div class="left invitelink">
                            <textarea name="url" id="url">http://{$_SERVER['SERVER_NAME']}{:U('Reg/reg',array('Member_id'=>session('USER_KEY_ID')))}</textarea>
                            <input type="hidden" value="{$Think.session.USER_KEY_ID}" id="user_key_id">
                            <input type="hidden" value="{$Think.server.SERVER_NAME}" id="server_name">
                        </div>

                       <p class="right copylink" style="text-indent:0;" id="copy" data-clipboard-action="copy" data-clipboard-target="#url">
						<a href="javascript:void(0);"  >copy link</a>

						<!--<div style="position: absolute; left: 1090px; top: 252px; width: 122px; height: 42px; z-index: 99;" id="zclip-ZeroClipboardMovie_1" class="zclip">
                        <embed id="ZeroClipboardMovie_1" src="/ZeroClipboard.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_1" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=122&amp;height=42" wmode="transparent" align="middle" width="122" height="42">
                        </div>-->
                       </p>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="ybcoin invitecon">
                    <h3 style="height:28px;">Share content to the following space</h3>
                    
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="share to twitter"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="share to facebook"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="share to whatsapp"></a><a href="#" class="bds_renren" data-cmd="renren" title="share to instagram"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="share to wechat"></a></div>
<script>window._bd_share_config={"common":{"bdUrl":"http://"+$("#server_name").val()+"/Home/Reg/reg/Member_id/"+$("#user_key_id").val()+".html","bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"share to: ","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

                </div>
                <div class="ybcoin invitecon">
                    <h2>or send to </h2>
                    <div>
				
                       <input id="emaillist" class="left email_link" placeholder="Example@example.com, no more than 5, separated by ;" type="text" > 
                        <p class="right copylink" style="text-indent:0;"><input class="email_invite" value="Email invitation" type="button" onclick="sendmail()"></p>
                        <div class="clear"></div>
                        
                    </div>
                </div>
                <div class="ybcoin invitecon">
                    <h2>{$info.title|default="Invitation rules"}</h2>
                    <ul class="rules">
                        {$config.invite_rule}
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="ybc_list">
                    <div class="ybcoin">
                        <h2 class="left">My invitation</h2><h2 class="right">Total invitation bonus:  <span style="color:#f60;">{$count|default='0'}</span></h2>
                    </div>
                    <table class="raise_list" style="border:1px solid #e1e1df;" align="center" border="0" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr class="list_head">
                                <th>Email</th>
				                <th>Status</th>
                                <th>Registration time</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="my_invit" id="vo">
                            <tr>
                                <td>{$vo['email']}</td>
                                <td>{$vo['status_name']}</td>
                                <td>{$vo['reg_time']|date="Y-m-d H:i:s ",###}</td>
                            </tr>
                        </volist>
                        </tbody>
                </table>
            </div>
        </div>
         <div class="page" style=" min-width:200px !important; float:right;">
                    {$page}
        </div>
        <div class="clear"></div>
    </div>
	<script>
	  function sendmail(){
	  url = "{:U('User/invit')}";
    var emailList = $('#emaillist').val();
        if(emailList.replace(/\s/g,'') === ''){
            alert("Please fill in the contents of Email");
            return false;
        }else{
            var arr = escape(emailList.replace(/(^\s*)|(\s*$)/g,"")).split('%3B'), error = '' , emailrule = /\w+((-w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+/;
            if(arr.length > 5 && arr.length){
                alert("Fill up to 5 emails");
                return false;
            }else{
                for (var i = 0 ; i < arr.length; i ++){
                    if(!emailrule.test(arr[i])){
                        var num = i + 1;
                        error += num+"、";
                    };
                }
            };
            if(error != ''){
                error = error.substr(0,error.length-1);
                alert("No. " + error + " Email format is incorrect");
                return false;
            };
            $.post(url,{ emails: emailList },function(data){
                if(data.status==0)
                {
                   alert(data.info);
                }
				else{
                        alert('Successful invitation');
                        window.location.reload();
                    }
            },"json");
       }
  }
	
	</script>
    <script>
$(".menu9").addClass("uc-current");
</script>
<include file="App/Home/View/Public/footer.html"/>