<include file="App/Home/View/Public/header.html"/>
<div id="main">
	<div class="main_box">
		<include file="App/Home/View/Public/left.html"/>
		<div class="raise right clearfix">
            <link rel="stylesheet" href="__PUBLIC__/Home/css/layer.css">
<script src="__PUBLIC__/Home/js/base64.js"></script>
<script src="__PUBLIC__/Home/js/Fnc.js"></script>
<style>
.zzzn a{ display:block; float:right; margin:20px; padding:8px 20px; color:#fff; background:#82b52d; font-size: 20px; border-radius:30px; text-decoration:none;}
.zzzn a:hover{ background:#90c13e;}
.ul_recharge_padding{padding:20px 0 0px 160px;}
.recharge_tips{color:#f00; line-height:40px; margin:0;}
.recharge_left_input{margin-left:16px;}
.help_link{ line-height:40px; color:#2471cb; text-decoration:underline; font-size:14px;}
.help_link:hover{ color:#f30;}
.help_link1{ color:#;}
.ebank_pay{font-family: Arial; width:260px; height:40px; color:#fff; font-size:16px; line-height: 40px; text-align: center; margin:0 auto; background:#f60; display: block; text-decoration: none; border: 0;}
.ebank_pay:hover{ background: #f70; color:#fff; text-decoration: none; cursor: pointer;}

.box_close{ height:24px; line-height:24px; width:24px; text-align:center; font-size:14px; color:#999; border-radius:20px; position:absolute; top:10px; right:10px; text-decoration:none; font-family:Arial;}
.box_close:hover{ color:#fff; background:#f00; text-decoration:none;}
.choice_ebank .note1{ width:100px; text-align:right; display:block; float:left; margin-right:5px; line-height:40px;}
.layui-layer-content{text-align:center; margin-top:80px;font-size: 20px;color: #666;text-align: center;}
.layui-layer-content .yes {
    width: 160px;
    height: 40px;
	margin-top:80px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
	background: #4b7100;
    color: #fff;
	border:none;
    text-decoration: none;}
.fkbtn{
    width: 80px;
    height: 30px;
    color: #f60;
	border:1px #f60 solid;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}
.fkbtn:hover{ color:#f60 !important;}

</style>
	<name id="realname" data="{$member['name']|default='no data'}"></name>
<div class="ybc_list">
    <div class="ybcoin clearfix">
        <h2 class="left">Recharge[<span style="color:red">Beware of fraud</span>]</h2>
        <p class="right recharge_tips" style="margin-bottom:0;"><a href="{:U('Help/index',array('article_id'=>'59'))}" class="help_link">Bank card remittance help?</a></p>
    </div>
    <div class="support_ybc pass_ybc ybc_optimize" id="verifyon">

        <div id="tagContent" class="passContent">

            <!-- bank/alipay -->
            <div class="tagContent selectTag" id="tagContent0">
               <ul class="ybc_optimize_con ul_recharge_padding" id="rollout2" style="margin-top:30px;">
                    <li style="margin-top:0; position:relative;" class="choice_ebank">
                        <span class="note1" style="color:#333;font-size:12px;">Amount</span>
                        <input name="number" id="over_num" class="money num_three" onkeyup="value=value.replace(/[^\d]/g,'');notfee();" autocomplete="off" maxlength="10" type="text">
                        <span class="note" style="margin-left: 5px;">Minimum charge amount{$config['pay_min_money']|default='0'} </span>
                        <input id="rand_num" value="0" type="hidden">
                    </li>
                    <li class="num_money choice_ebank" style="margin-left:105px; position:relative;">
                        <span class="left">Remittance Amount:</span>
                        <font id="ure" class="left" color="red"></font>
                        <span class="note" style="position:absolute; top:0; right:-270px; color:#f00; font-size:14px; line-height:20px;">Please remit money in accordance with the remittance Amount. After the remittance Amount, 3 bits are used to ensure the automatic allocation of the immediate arrival system.</span>
                    </li>

                    <li style="margin-top:10px; position:relative;" class="choice_ebank">
                        <span class="note1" style="color:#333;font-size:12px;" id="recharge_name">Remitter name</span>
						<input id="recharge_name_yes" class="money num_three" value="{$member['name']|default='no data'}" autocomplete="off" readonly="readonly" type="text">
                        <span class="note" style="margin-left: 5px;">The system will only accept your real-name account recharge</span>
                    </li>

                    <li style="margin-top:10px; position:relative;" class="choice_ebank">
                        <span class="note1 recharge_left_input" style="color:#333;font-size:12px; margin-left:0;" id="recharge_account">Transfer out bank</span>
                        <select class="money num_three" id="bankOut" name="bankOut" style="width:259px; height:40px;" >
                            <option selected="selected" value="Please select bank">Please select bank</option>
                            <option value="Apple pay">Apple pay</option>
                            <option value="paypal">paypal</option>
                            <option value="Master card">Master card</option>
                            <option value="Visa card">Visa card</option>
                            <option value="Debit card">Debit card</option>
                        </select>
                        <span class="note" style="position:absolute; top:0; color:#f00; font-size:13px; line-height:20px;">Please note: Some banks may make remittances on weekends and cannot make timely payments. Apple pay please note the ID number, otherwise it can not arrive in time.</span>
                    </li>

                    <li style="margin-top:10px; position:relative;" class="choice_ebank">
                        <span class="note1 recharge_left_input" style="color:#333;font-size:12px; margin-left:0;" id="recharge_account">Remittance bank account number</span>
                        <input id="recharge_account_yes" class="money num_three"  type="text">
                        <span class="note" style="position:absolute; top:0; right:38px; line-height:20px;">Please fill in the Remittance bank account number accurately, otherwise you will not be able to arrive at the account.<br>You need to manually contact the customer service to queue up and the time cannot be guaranteed.</span>
                    </li>

                    <li style="color:#f00; font-size:16px; margin-top:20px; margin-left:99px;" class="choice_ebank"></li>

                    <li>
                    <a href="javascript:void(0);" onclick="recharge()" class="btn_turn" id="choice_submit" style="margin-left:105px;">Generate remittance orders</a></li>
                </ul>

                <div class="turns truns_upper">
                    <h2>{$art['title']}</h2>
                {$art.content} </div>
            </div>

            <!-- licai -->
            <div class="tagContent selectTag" id="tagContent1" style="display:none;">
                <form class="form-horizontal" onsubmit="return false;" onkeydown="if (event.keyCode == 13) {return false;}">
                    <ul class="ybc_con" id="rollout" style="padding:20px 0 0 160px;">
                        <li>
                            <label style="width:100px;"><span class="redstar">*&nbsp;</span>Transfer Amount: </label>
                            <input style="display:none;"><!-- for disable autocomplete on chrome -->
                            <input name="number" onkeyup="value=value.replace(/[^\d.]/g,'')" value="0" autocomplete="off" style="width:260px;" type="text">
                            <span class="note">Can't be less than 10</span>
                        </li>
                        <li>
                            <label style="width:100px;"><span class="redstar">*&nbsp;</span>transaction password: </label>
                            <input style="display:none;"><!-- for disable autocomplete on chrome -->
                            <input name="pwdtrade" autocomplete="off" style="width:260px;" type="password">
                            <span class="note">Please enter the transaction password</span> </li>
                        <li>
                            <label style="width:100px;">&nbsp;</label>
                            <input class="queding" id="submit_recharge" value="Confirm" style="border:0; height:42px; line-height:40px; width:262px; font-family:'Microsoft Yahei';" onclick="Ebank.fromDai();" type="submit">
                        </li>
                    </ul>
                </form>
                <div class="turns">
                    <h2>Instructions</h2>
                    <p style="margin-bottom:0;">1. From the account with the same name of the bank to the Lemonthy</p>
                    <p style="margin-bottom:0;">2. Immediate arrival.</p>
					<p>3. It is more convenient to recharge the LMN through Lemonthy, and the multiple banks will immediately arrive at the account;</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- exchange_cny list start-->

<div class="ybc_list">
    <div class="ybcoin ">
        <h2 class="left">Recharge record</h2>
        <p class="right" style="font-size:14px; color:#f00; line-height:40px; margin-bottom:0;">Over 3 hours of remittance orders will expire. Please re-generate remittance orders and send money.<a href="{:U('Help/index?id=62')}" class="help_link">How to deal with less than recharge?</a></p>
        <div class="clear"></div>
    </div>
</div>
<table class="raise_list" style="border:1px solid #e1e1df;" align="center" border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Transfer in channel</th>
            <th>Quantity</th>
            <th>Transaction time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
		<volist name='list' id='vo' key='key'>
			<tr>
			<td>{$key}</td>
			<td><eq name="vo.type" value="1">Manaul recharge<else/>Bank recharge</eq></td>
			<td>{$vo.count|default=0}</td>
			<td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
			<td><eq name='vo.status' value='Please pay'><a class="fkbtn" onclick='showPay({$vo.count|default=0})'><else/><a class="fkbtn"></eq>{$vo.status|default=0}</a></td>
			</tr>
		</volist>
    </tbody>
</table>
<div class="page" style=" min-width:200px !important; float:right;">
                    {$page}
              </div>
<!-- exchange_cny list end -->

<!-- recharge alert start -->
<style type="text/css">
.ybc_chongzhi_tc{width: 810px; height: 520px; border:1px #ddd solid;z-index:9999; position: fixed;left: 50%; top: 50%; margin: -300px 0 0 -405px; background: #fff; z-index: 9999;}
.ybc_chongzhi_tc_tittle{width: 770px; height: 80px;padding: 0 20px 0 20px; text-align: center; }
.ybc_chongzhi_tc_tittle h2{ color:#666; text-align:left; font-size:24px; height:80px; line-height:80px; }
.ybc_chongzhi_tc_main{width: 810px;height: 200px; background-color:#ffffc9; padding: 30px 0px; }
.ybc_chongzhi_tc_tittle_img{margin-top: 26px;width: 28px; height:28px;background: url("/images/close.png") left bottom no-repeat;}
.ybc_chongzhi_tc_tittle_img:hover{margin-top: 26px;width: 28px; height:28px;background: url("/images/close.png") left top no-repeat;cursor:pointer}
.ybc_chongzhi_tc_main h3{ color:#333; text-align:center; font-size:20px;  line-height:30px; }
.ybc_chongzhi_tc_main .hs{ color:#ff0000; text-align:center; font-size:20px; line-height:30px; }
.ybc_chongzhi_tc_main li span{/*width: 300px; text-align: right;*/ float: left; color:#333;font-size:16px;}
.ybc_chongzhi_tc_main li{ font-size:14px; color:#333; height:30px; line-height:30px;}
.ybc_chongzhi_tc_tishi h3{color:#ff0000; text-align:center; font-size:25px; ; line-height:60px;}
.ybc_chongzhi_tc_tishi p{color:#ff0000; text-align:left; font-size:16px; ; line-height:24px; padding-left: 130px;}
.ybc_chongzhi_tc_tishi_bz{width: 770px; height: 80px;padding: 0 20px 0 20px; line-height: 80px; font-size:18px; color: #666;}
.ybc_chongzhi_tc_tishi span{width: 1px;padding: 0px 2px; border-right: 1px #ddd solid; height: 18px; margin-right: 8px;}
.box_bg2{  width: 100%;  height: 100%;  background: #000; filter: Alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; position: absolute;  z-index: 9998;  position: fixed;  left: 0; top: 0;}

.special_note{ width:480px; height:320px; background:#ffffca; border:1px solid #fbd163; position:fixed; top:50%; margin-top:-161px; left:50%; margin-left:-241px; z-index:9999;}
.special_note h2{ color:#f60; font-size:24px; text-align:center; height:60px; line-height:60px;}
.special_note p{ font-size:16px; line-height:28px; padding:0 40px; margin-bottom:10px; text-indent:2em; color:#333;}
.special_note .yes_no .yes,.special_note .yes_no .no{ width:160px; height:40px; border:0; margin:10px 20px; cursor:pointer; color:#fff; font-family:'Microsoft Yahei'; font-size:14px;}
.special_note .yes_no{ width:400px; margin:0 auto;}
.special_note .yes_no .yes{ background:#690; color:#fff;}
.special_note .yes_no .yes:hover{ background:#4b7100;}
.special_note .yes_no .no{ background:#f00; color:#fff;}
.special_note .yes_no .no:hover{ background:#ba0000;}
.ybc_chongzhi_tc_tittle_img {
    margin-top: 26px;
    width: 28px;
    height: 28px;
    background: url("__PUBLIC__/Home/images/close.png") left bottom no-repeat;
}
.wid{ width:170px; overflow:hidden;}
.pad{ padding-left:38px;}
</style>

<div id="recharge_alert_bank" style="display:none;">
<div class="box_bg2"></div>
<div class="ybc_chongzhi_tc">
    <div class="ybc_chongzhi_tc_tittle">
        <h2 class="left clearfix" id="recharge_alert_title"></h2>
        <div id="recharge_alert_bank_close"><a class="ybc_chongzhi_tc_tittle_img  right clearfix "></a></div>
    </div>
	
    <div class="ybc_chongzhi_tc_main">
		
        <h3 style=" padding-bottom:15px;">Please open your<span class="hs phone_bank_and_net"></span><br> according to remittance amount<span class="hs recharge_html_num"></span></h3>
        <div style=" margin:0 auto;">
        <ul style=" width:640px; height:120px; margin-left:100px;">
            <empty name="bank[1]['bank_adddress']">
            <!--居中-->
            <div style=" float:left; margin-left:180px !important;">
            <li class="pad"><span>To {$bank[0]['bank_name']|default='no '}transfer money</li>
            <li class="pad"><span>Payee: </span>{$bank[0]['bank_name']|default='no data'}</li>
            <li class="pad"><span>Beneficiary Account: </span>{$bank[0]['bank_no']|default='no data'}</li>
            <li class="pad"><span>Payee Bank: </span><span class="wid">{$bank[0]['bank_adddress']|default='no data'}</span></li>	
            </div>	
            </empty>
            <!--居中-->
        	<notempty name="bank[1]['bank_adddress']">
            <div style=" float:left;">
            <li class="pad"><span>To {$bank[0]['bank_name']|default='no data'}transfer money</li>
            <li class="pad"><span>Payee: </span>{$bank[0]['bank_name']|default='no data'}</li>
            <li class="pad"><span>Beneficiary Account: </span>{$bank[0]['bank_no']|default='no data'}</li>
            <li class="pad"><span>Payee Bank: </span><span class="wid">{$bank[0]['bank_adddress']|default='no data'}</span></li>	
            <!--<div style="border-bottom:1px #ccc dashed;"></div>		-->
            </div>	
          
            <div style=" float:left;">
          	<li class="pad"><span>To {$bank[1]['bank_name']|default='no data'}transfer money</li>
            <li class="pad"><span>Payee: </span>{$bank[1]['bank_name']|default='no data'}</li>
            <li class="pad"><span>Beneficiary Account: </span>{$bank[1]['bank_no']|default='no data'}</li>
            <li class="pad"><span>Payee Bank: </span><span class="wid">{$bank[1]['bank_adddress']|default='no data'}</span></li>	
            <!--<div style="border-bottom:1px #ccc dashed;"></div>		-->
            </div>
            </notempty>
            <div class="clear"></div>
            <li style="font-size:14px; color:#f00; padding-left:5px;"><span style="font-size:18px;">Remittance Amount:</span><strong style="font-size:18px;" class="recharge_html_num"></strong>(Transfer money strictly in accordance with this Amount transfer, Apple pay transfer please note ID number, otherwise you can not account)</li>
        </ul>
        </div>
    </div>
	
    <div class="ybc_chongzhi_tc_tishi">
        <h3 style="text-align: left; margin-left: 100px;">Note</h3>
        <p>1. This system is not automatically deducted, please transfer your <font class="phone_bank_and_net"></font>transfer money!<br>
            2. If you already have To {$bank[0]['bank_name']|default='no data'}<notempty name="bank[1]['bank_name']"> or {$bank[1]['bank_name ']|default='no data'}</notempty>transfer money<font class="recharge_html_num"></font>", the system enters the account within 20 minutes after receiving the transfer money.</p>
        <div class="ybc_chongzhi_tc_tishi_bz">
            <div class="left clearfix"><a href="{:U('Help/index',array('article_id'=>'59'))}" target="_blank" class="help_link">Bank card transfer money help</a></div>
            <div class="right clearfix"> <a target="_blank" href="https://twitter.com/"><img src="/Public/Home/images/twitter.png" width="30" height="30"></img>{$config['qq1']} <div class="qqsecvice">Customer service</div> </a>
                </div>
        </div>
    </div>
</div>
</div>
<!-- recharge alert end -->

<div>
    <!-- <button class="ebank_pay" onclick="Ebank.licai()" style="margin-top:160px;">去元宝理财充值</button> -->
    <div class="ebank_box_common" style=" width:100%; height:100%; background:#000; filter: Alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; position:absolute; z-index:9998; position:fixed; left:0; top:0; z-index: 9998;  display:none;">
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/Home/js/tab2.js"></script>
<script src="__PUBLIC__/Home/js/layer.js"></script>
		</div>
		<div class="clear"></div>
	</div>
</div>   
<script>

	function closewin(){
		$(".layui-layer-shade").remove();
		$(".layui-layer").remove();
	}
	function notfee(){
		if($("#over_num").val()!=""){
			$("#ure").text((parseInt($("#over_num").val(),10)+{$fee}).toFixed(3));
		}else{
			$("#ure").text("");
		}
	}
function recharge() {
    var min_num={$config.pay_min_money};
    var max_num={$config.pay_max_money};
	var fee = {$fee};
	if (this.choice_money == 0) {
        // window.open("http://yuanbao.com/user_ebank");
        $('.ebank_box_common').show();
        return false;
    }

    // 姓名
    //var recharge_name_yes = $('#recharge_name_yes').val();
    var recharge_name_yes = $('#realname').attr('data');

    if (!(/[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*/).test(recharge_name_yes)) {
    //if (!(/^[\u4e00-\u9fa5]{2,10}$/).test(recharge_name_yes)) {

        //Layer.alert('Please enter the correct emitter name');
		layer.open({
			type: 1,
			skin: 'layui-layer-demo', //样式类名
			closeBtn: 0, //不显示关闭按钮
			shift: 2,
			shadeClose: true, //开启遮罩关闭
			content: '<div>Please enter the correct emitter name</div><div style="text-align:center"><button type="button" class="yes" onclick="closewin()">Confirm</button>',
			area: ['420px', '280px'], //宽高
		});
        return false;

    }

    // 银行卡号
    var recharge_account_yes = $('#recharge_account_yes').val();
	//alert(recharge_account_yes.length);
	
    if (recharge_account_yes == '' || recharge_account_yes.length < 11 ||  recharge_account_yes.length > 20) {

        //Layer.alert('Please enter the correct emittance bank account number');
		layer.open({
			type: 1,
			title: false,
			skin: 'layui-layer-demo', //样式类名
			closeBtn: 0, //不显示关闭按钮
			shift: 2,
			shadeClose: true, //开启遮罩关闭
			content: '<div>Please enter the correct emittance bank account number 12-20 characters</div><div><button type="button" class="yes" onclick="closewin()">Confirm</button>',
			area: ['420px', '280px'], //宽高
		});

        return false;

    }
	
	// Transfer out bank
	var bankName = $('#bankOut').val();
	if(bankName == 'Please select bank'){
		layer.open({
			type: 1,
			title: false,
			skin: 'layui-layer-demo', //样式类名
			closeBtn: 0, //不显示关闭按钮
			shift: 2,
			shadeClose: true, //开启遮罩关闭
			content: '<div>Please choose Transfer out bank</div><div><button type="button" class="yes" onclick="closewin()">Confirm</button>',
			area: ['420px', '280px'], //宽高
		});

		return false;
	}
	
    // 充值Amount
    var over_num = $('#over_num').val();
    var number = over_num ? over_num: 0;
	var rand_num = $('#rand_num').val();
    rand_num = rand_num ? rand_num: 0;
	
    var num = parseInt(number) + parseFloat(rand_num);
    if(num < min_num) {
	   layer.open({
			type: 1,
			title: false,
			skin: 'layui-layer-demo', //样式类名
			closeBtn: 0, //不显示关闭按钮
			shift: 2,
			shadeClose: true, //开启遮罩关闭
			content: '<div>Recharge amount can not be less than'+min_num+' .</div><div><button type="button" class="yes" onclick="closewin()">Confirm</button>',
			area: ['420px', '280px'], //宽高
		});
        return false;
    }

    if (num >= max_num) {
		layer.open({
			type: 1,
			title: false,
			skin: 'layui-layer-demo', //样式类名
			closeBtn: 0, //不显示关闭按钮
			shift: 2,
			shadeClose: true, //开启遮罩关闭
			content: '<div>转账Amount不能大于'+max_num+'</div><div><button type="button" class="yes" onclick="closewin()">Confirm</button>',
			area: ['420px', '280px'], //宽高
		});
        return false;
    }
    $.post("{:U('Pay/rechargeByMan')}", {'money':number, 'account': recharge_account_yes, 'count':parseInt($("#over_num").val(),10)+fee,'type':1,'member_name': recharge_name_yes},
		function(data) {
            if (data.status == 0) {
				layer.open({
					type: 1,
					title: false,
					skin: 'layui-layer-demo', //样式类名
					closeBtn: 0, //不显示关闭按钮
					shift: 2,
					shadeClose: true, //开启遮罩关闭
					content: '<div>'+data.info+'</div><div><button type="button" class="yes" onclick="closewin()">Confirm</button>',
					area: ['420px', '280px'], //宽高
				});
            } else {
				$('#recharge_alert_bank').show();
                $('#recharge_alert_bank_close').click(function(){$('#recharge_alert_bank').hide(); location.reload();});
                $('.recharge_html_num').html(data.num);
                $('#recharge_alert_title').html('Bank card transfer money information');
                $('.phone_bank_and_net').html('"Mobile Banking" or "Online Banking"'); 
            }
        }
    );

    return false;
	
};
function showPay(num){
	$('#recharge_alert_bank').show();
	$('#recharge_alert_bank_close').click(function(){$('#recharge_alert_bank').hide(); location.reload();});
	$('.recharge_html_num').html(num);
	$('#recharge_alert_title').html('Bank card transfer money information');
	$('.phone_bank_and_net').html('"Mobile Banking" or "Online Banking"'); 
}
</script>
<script>
    $(".menu12").addClass("uc-current");

    function showTips(id,msg){
        var tips = layer.tips(msg, id, {
            tips: [1, '#fff8db'],
            area: ['400px', '35px']
        });
        $(id).on('mouseout', function(){
            layer.close(tips);
        });
    }
</script>
<include file="App/Home/View/Public/footer.html"/>