<include file="App/Home/View/Public/header.html"/>
<link href="__PUBLIC__/Home/css/coincommon_v1.css" rel="stylesheet" type="text/css" media="screen, projection">
<link href="__PUBLIC__/Home/css/jquery-ui-1.css" rel="stylesheet" type="text/css" media="screen, projection">
<link href="__PUBLIC__/Home/css/convertIndex.css" rel="stylesheet" type="text/css" media="screen, projection">
<style>
.conLi2{ padding-top:20px;}
</style>
 <div class="convertBox">
		<div class="convertAutoBox">
			<div class="convertTopBox"></div>
			<div class="convertCenBox">
				<ul class="convertCenUl">
					
						<li class="convertCenli">
							<p class="conLi1" style="background:url('__PUBLIC__/Home/images/FHQ.png') no-repeat 0 50%;background-size: 46px 46px;">Account Balance(FHQ)</p>
							<div class="conLi7">
								<p class="conLi2">
									<span class="conLi6" id="oldTotal796432">0.00</span>
								</p>
								<p class="conLi3">个</p>
							</div>
							<div class="conLi10"><p class="conLi4">Exchange rate 1 : 3.5</p></div>
							<p class="conLi1" style="background:url('__PUBLIC__/Home/images/ECO.png') no-repeat 0 50%;background-size: 46px 46px;">Can Exchange(ECO)</p>
							<div class="conLi8">
								<p class="conLi2">
									<span class="conLi6" id="newTotal796432">
										0.00
									</span>
								</p>
								<p class="conLi3">个</p>
							</div>
							
								
								
								<a class="conLi5" href="javascript:void(0)" onclick="return submitConData(this,'7','796432')">Exchange</a>
								
							
							
						</li>
					
						<li class="convertCenli">
							<p class="conLi1" style="background:url('__PUBLIC__/Home/images/DC.png') no-repeat 0 50%;background-size: 46px 46px;">Account Balance(DC)</p>
							<div class="conLi7">
								<p class="conLi2">
									<span class="conLi6" id="oldTotal796439">0.00</span>
								</p>
								<p class="conLi3">个</p>
							</div>
							<div class="conLi10"><p class="conLi4">Exchange rate 1 : 0.75</p></div>
							<p class="conLi1" style="background:url('__PUBLIC__/Home/images/ECO.png') no-repeat 0 50%;background-size: 46px 46px;">Can Exchange(ECO)</p>
							<div class="conLi8">
								<p class="conLi2">
									<span class="conLi6" id="newTotal796439">
										0.00
									</span>
								</p>
								<p class="conLi3">个</p>
							</div>
							
								
								
								<a class="conLi5" href="javascript:void(0)" onclick="return submitConData(this,'23','796439')">Exchange</a>
								
							
							
						</li>
					
						<li class="convertCenli">
							<p class="conLi1" style="background:url('__PUBLIC__/Home/images/STG.png') no-repeat 0 50%;background-size: 46px 46px;">Account Balance(STG)</p>
							<div class="conLi7">
								<p class="conLi2">
									<span class="conLi6" id="oldTotal796443">0.00</span>
								</p>
								<p class="conLi3">个</p>
							</div>
							<div class="conLi10"><p class="conLi4">Exchange rate 1 : 1.35</p></div>
							<p class="conLi1" style="background:url('__PUBLIC__/Home/images/ECO.png') no-repeat 0 50%;background-size: 46px 46px;">Can Exchange(ECO)</p>
							<div class="conLi8">
								<p class="conLi2">
									<span class="conLi6" id="newTotal796443">
										0.00
									</span>
								</p>
								<p class="conLi3">个</p>
							</div>
							
								
								
								<a class="conLi5" href="javascript:void(0)" onclick="return submitConData(this,'33','796443')">Exchange</a>
								
							
							
						</li>
					

				</ul>
				<p class="ecoHint">You currently own <span id="ecoHintCount">0.00</span> coins</p>
				<div class="convertHintBox">
					<div class="converHintMsgBox">
						<p>1. After Exchange opens, the three currencies stop trading.</p>
						<p>2. After Exchange completes, it will announce the initial transaction as soon as possible.</p>
						<p>3. If there is a problem with redemption, please contact customer service to resolve it.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="clear"></div>
<!--footer start-->
<include file="App/Home/View/Public/footer.html"/>
<!--footer end-->
