    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">
		

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Third party recharge record</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
            </form>			
		<div class="result-tab">
				<div class="panel-actions" style="height:50px;">
                <h1 class="fl" style="line-height:50px; margin-left:20px;">
					<i class="icon-font"></i>
					Data statistics
				</h1>
				    <form action="{:U('Tongji/shuju')}" method="post" class="form-inline form-search" style="fr">					
					<div class="fr" style="line-height:50px;">						
                       <input type="text" name="userid" value=""  class="form-control search-query" style="width:20%;" placeholder="Member ID" title="Member ID" /> 
								<input type="text" name="stime" class="stime" placeholder="Start time: such as 2018-03-22" title="Start time" readonly="" style="margin-right:20px;" onclick="laydate()">		
								<input type="text" name="etime" class="etime" placeholder="End time: such as 2018-04-21" title="End time" readonly="" style="margin-right:20px;" onclick="laydate()">

							<input type="submit" id="submit" class="btn btn-primary" value="Search" data-loading=" Wait a moment..." style="margin-right:20px;">
					</div>
				  </form>
				</div>
			<div class="" style="overflow:hidden;">
				<div class="fl" style="padding-bottom:10px; width:56%; margin-left:15px;">
							<strong>					
								Recharge statistics
							</strong>
				<table class="table table-hover table-striped table-bordered" style="width:100%; border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center">Currency type</th>
                        <th class="text-center">Order numbers</th>
						<th class="text-center">Total amount of recharge</th>
					</tr>
				</thead>
				<tbody>		
					<volist name="alltj" id="vo" key="key">			
					<tr>
						<td class="text-right ">{$vo['currency_mark']}</td>
						<td class="text-right"><a href="#">{$vo['paytj']['allnum']|default='0'}</a></td>
                        <td class="text-right">{$vo['paytj']['allmoney']|default='0'}</td>                       
					</tr>
					</volist>
				</tbody>
			</table>
				</div>
				<div class="fl" style="padding-bottom:10px; width:40%; margin-left:10px;">
							<strong>					
								Withdrawal statistics
							</strong>
						<table class="table table-hover table-striped table-bordered" style="width:100%;border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Currency type</th>
                        <th class="text-center w-200px">order numbers</th>
						<th class="text-center w-300px">Withdrawal total amount</th>
					</tr>
				</thead>
				<tbody>
					<volist name="alltj" id="vo" key="key">			
					<tr>
						<td class="text-right ">{$vo['currency_mark']}</td>
						<td class="text-right"><a href="#">{$vo['allmoney']['allnum']|default='0'}</a></td>
                        <td class="text-right">{$vo['tibitj']['allmoney']|default='0'}</td>                       
					</tr>
					</volist>			
				</tbody>
			</table>
				</div>
                  <div style="padding-bottom:10px; width:97%; clear:both; margin-left:15px;">
							<strong>					
								Pending order statistics
							</strong>
			<table class="table table-hover table-striped table-bordered" style="width:100%;border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Trading type</th>
                        <th class="text-center w-200px">Order numbers</th>
						<th class="text-center w-200px">Trading volumn</th>
						<th class="text-center w-300px">Trading amount</th>
					</tr>
				</thead>
				<tbody>
					<volist name="order" id="vo" key="key">	
					<tr>                     
						<td class="text-right ">{$vo['currency_name']['currency_mark']}_{$vo['currency_trade_name']['currency_mark']}</td>
						<td class="text-right "><a>{$vo['num']}</a></td>
                        <td class="text-right ">
						 {$vo['jiaoyinum']}					({$vo['currency_name']['currency_mark']})</td>
                        <td class="text-right ">
						 {$vo['jiaoyiprice']}				({$vo['currency_trade_name']['currency_mark']})</td>
                        
					</tr>
					</volist>	
                    <tr>						
                        <th colspan="2" class="text-right ">Total</th>
                        <td class="text-right " colspan="2">CNY : {$order['0']['allmoney']} <br>                        </td>
					</tr>
					
				</tbody>
			</table>
				</div>
			</div>
            
            
            <div class="" style="overflow:hidden;">
				<div style="padding-bottom:10px; width:97%; clear:both; margin-left:15px;">
							<strong>					
								Deal statistics
							</strong>
				<table class="table table-hover table-striped table-bordered" style="width:100%; border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Trading type</th>
                        <th class="text-center w-200px">order numbers</th>
						<th class="text-center w-200px">Trading volumn</th>
						<th class="text-center w-300px">Trading amount</th>
					</tr>
				</thead>
				<tbody>		
					<volist name="trade" id="vo" key="key">				
					<tr>                     
						<td class="text-right ">{$vo['currency_name']['currency_mark']}_{$vo['currency_trade_name']['currency_mark']}</td>
						<td class="text-right "><a>{$vo['num']}</a></td>
                        <td class="text-right ">
						 {$vo['jiaoyinum']}					({$vo['currency_name']['currency_mark']})</td>
                        <td class="text-right ">
						 {$vo['jiaoyiprice']}				({$vo['currency_trade_name']['currency_mark']})</td>
                        
					</tr>    
					</volist>	
	               <tr>
						<th colspan="2" class="text-right ">Total</th>
                        <td colspan="2" class="text-right ">USDT : {$trade['0']['allmoney']} <br></td>
					</tr>
					
				</tbody>
			</table>
				</div>

			</div>
			<div>
				<div style="float:right; clear:none;" class="page form-inline">
					<div class="pagination"></div>
				</div>
			</div>
			</div>	
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>
function pass(id){
	layer.confirm(
	'Confirm pass review', 
	{btn:['Confirm','Cancel']},
	function(){
	  $.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":1},function(data){
		  if(data.status==0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
	}
	),
	function(){
		layer.msg('Cancelled');
	}
}

function fail(id){
	layer.confirm(
	'Confirm fail review', 
	{btn: ['Confirm','Cancel'],},
	function(){
		//href="{:U('Pay/payUpdate',array('pay_id'=>$vo['pay_id'],'status'=>1))}			
		$.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":2},function(data){
				if(data.status == 0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
					
				}else if(data.status == 2){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
		}
		),
	 function(){
		layer.msg('Cancelled');
	}
}
</script>
<script>
$(".sub-menu").eq(11).show();
$(".sub-menu").eq(11).children("li").eq(1).addClass("on");
</script>