    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">
		

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Third party recharge record</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
            </form>			
		<div class="result-tab">
				<div class="panel-actions" style="height:50px;">
                <h1 class="fl" style="line-height:50px; margin-left:20px;">
					<i class="icon-font"></i>
					Promotion of statistics
				</h1>
				    <form action="{:U('Tongji/tuiguang')}" method="post" class="form-inline form-search" style="fr">					
					<div class="fr" style="line-height:50px;">						
                       <input type="text" name="userid" value=""  class="form-control search-query" style="width:20%;" placeholder="Member ID" title="Member ID" /> 
								<input type="text" name="stime" class="stime" placeholder="Start time: such as 2018-03-22" title="Start time" readonly="" style="margin-right:20px;" onclick="laydate()">		
								<input type="text" name="etime" class="etime" placeholder="End time: such as 2018-04-21" title="End time" readonly="" style="margin-right:20px;" onclick="laydate()">

							<input type="submit" id="submit" class="btn btn-primary" value="Search" data-loading=" Wait a moment..." style="margin-right:20px;">
					</div>
				  </form>
				</div>
			<div class="" style="overflow:hidden;">
				<div class="fl" style="padding-bottom:10px; width:32%; margin-left:15px;">
							<strong>					
								Ranking by selection of search criteria
							</strong>
						<table class="table table-striped tablesorter text-center" style="width:100%; border: 1px solid #ddd;">
							<thead>
								<tr>
									<th class="text-center w-100px">No.</th>
									<th class="text-center w-180px">Username(ID)</th>
									<th class="text-center w-180px">Recommended number</th>
								</tr>
							</thead>
							<tbody>
								<volist name="list" id="vo" key="key">
									<tr>
										<td>{$key}</td>
										<td><a href="{:U('Member/index',array('member_id'=>$vo['pid']))}">{$vo.pname}({$vo.pid})</a></td>
										<td>{$vo.num}</td>
									</tr>
								</volist>
							</tbody>
						</table>
				</div>
				<div class="fl" style="padding-bottom:10px; width:32%; margin-left:10px;">
							<strong>					
								Latest week ranking
							</strong>
						<table class="table table-striped tablesorter text-center" style="width:100%; border: 1px solid #ddd;">
							<thead>
								<tr>
									<th class="text-center w-100px">No.</th>
									<th class="text-center w-180px">Username(ID)</th>
									<th class="text-center w-180px">Recommended number</th>
								</tr>
							</thead>
							<tbody>
								<volist name="tomonth" id="vo" key="key">
									<tr>
										<td>{$key}</td>
										<td><a href="{:U('Member/index',array('member_id'=>$vo['pid']))}">{$vo.pname}({$vo.pid})</a></td>
										<td>{$vo.num}</td>
									</tr>
								</volist>				
                             </tbody>
						</table>
				</div>
				<div class="fl" style="padding-bottom:10px; width:32%; margin-left:10px;">
							<strong>					
								Latest month ranking
							</strong>
						<table class="table table-striped tablesorter text-center" style="width:100%; border: 1px solid #ddd;">
							<thead>
								<tr>
									<th class="text-center w-100px">No.</th>
									<th class="text-center w-180px">Username(ID)</th>
									<th class="text-center w-180px">Recommended number</th>
								</tr>
							</thead>
							<tbody>
								<volist name="week" id="vo" key="key">
									<tr>
										<td>{$key}</td>
										<td><a href="{:U('Member/index',array('member_id'=>$vo['pid']))}">{$vo.pname}({$vo.pid})</a></td>
										<td>{$vo.num}</td>
									</tr>
								</volist>	
							</tbody>
						</table>
				</div>
			</div>				
			<div>
				<div style="float:right; clear:none;" class="page form-inline">
					<div class="pagination"></div>
				</div>
			</div>
			</div>	
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>
function pass(id){
	layer.confirm(
	'Confirm pass review', 
	{btn:['Confirm','Cancel']},
	function(){
	  $.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":1},function(data){
		  if(data.status==0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
	}
	),
	function(){
		layer.msg('Cancelled');
	}
}

function fail(id){
	layer.confirm(
	'Confirm fail review', 
	{btn: ['Confirm','Cancel'],},
	function(){
		//href="{:U('Pay/payUpdate',array('pay_id'=>$vo['pay_id'],'status'=>1))}			
		$.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":2},function(data){
				if(data.status == 0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
					
				}else if(data.status == 2){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
		}
		),
	 function(){
		layer.msg('Cancelled');
	}
}
</script>
<script>
$(".sub-menu").eq(11).show();
$(".sub-menu").eq(11).children("li").eq(0).addClass("on");
</script>