    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">
		

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Third party recharge record</span></div>
        </div>
				<div class="panel-actions" style="height:50px;">
                <h1 class="fl" style="line-height:50px; margin-left:20px;">
					<i class="icon-font"></i>
					Data statistics
				</h1>
				    <form action="{:U('Tongji/xiangxi')}" method="post" class="form-inline form-search" style="fr">					
					<div class="fr" style="line-height:50px;">						
                       <input type="text" name="userid" value=""  class="form-control search-query" style="width:20%;" placeholder="Member ID" title="Member ID" /> 
								<input type="text" name="stime" class="stime" placeholder="Start time: such as 2018-03-22" title="Start time" readonly="" style="margin-right:20px;" onclick="laydate()">		
								<input type="text" name="etime" class="etime" placeholder="End time: such as 2018-04-21" title="End time" readonly="" style="margin-right:20px;" onclick="laydate()">

							<input type="submit" id="submit" class="btn btn-primary" value="Search" data-loading=" Wait a moment..." style="margin-right:20px;">
					</div>
				  </form>
				</div>
        <div class="result-wrap">
        <!--Balance statistics-->
            <form name="myform" id="myform" method="post"></form>
                <div class="result-tab">
                
                <div class="panel-actions" style="height:50px;">
                <h1 class="fl" style="line-height:50px; margin-left:20px;">
					<i class="icon-font"></i>
					Promotion of statistics
				</h1>
				    <form action="/newadmin.php/Home/Member/commissionShow/" method="get" class="form-inline form-search" style="fr">					
					<div class="fr" style="line-height:50px;">						
                       <!-- <input type="text" name="userid" value=""  class="form-control search-query" style="width:20%;" placeholder="Member ID" title="Member ID" /> --> 
								<input type="text" name="stime" class="stime" placeholder="Start time: such as 2018-03-22" title="Start time" readonly="" style="margin-right:20px;" onclick="laydate()">		
								<input type="text" name="etime" class="etime" placeholder="End time: such as 2018-04-21" title="End time" readonly="" style="margin-right:20px;" onclick="laydate()">

							<input type="submit" id="submit" class="btn btn-primary" value="Search" data-loading=" Wait a moment..." style="margin-right:20px;">
					</div>
				  </form>
				</div>
                
                    <div class="" style="overflow:hidden;">
				<div class="fl" style="padding-bottom:10px; width:56%; margin-left:15px;">
							<strong>					
								Balance statistics
							</strong>
				<table class="table table-hover table-striped table-bordered" style="width:100%; border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Currency type</th>
                        <th class="text-center w-200px">Total balance</th>
						<th class="text-center w-300px">Trading balance</th>
                        <th class="text-center w-300px">Actual balance</th>
					</tr>
				</thead>
				<tbody>	
					<volist name="alltj" id="vo" key="key">					
					<tr>
						<td class="text-right ">{$vo['paytj']['currency']['currency_mark']}</td>
						<td class="text-right">{$vo['paytj']['allnum']}</td>
						<td class="text-right"></td>
						<td class="text-right">{$vo['paytj']['allnum']}</td>  
					</tr>
					</volist>
                    </tbody>
			</table>
				</div>
                <!--Freeze statistics-->
				<div class="fl" style="padding-bottom:10px; width:40%; margin-left:10px;">
							<strong>					
								Freeze statistics
							</strong>
				<table class="table table-hover table-striped table-bordered" style="width:100%;border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Currency type</th>
                        <th class="text-center w-200px">Freeze statistics</th>
						<th class="text-center w-300px">Trade freeze</th>
                        <th class="text-center w-300px">Actual freeze</th>
					</tr>
				</thead>
				<tbody>
					<volist name="alltj" id="vo" key="key">					
					<tr>
						<td class="text-right ">{$vo['paytj']['currency']['currency_mark']}</td>
						<td class="text-right">{$vo['paytj']['allcoldnum']}</td>
						<td class="text-right"></td>
						<td class="text-right">{$vo['paytj']['allcoldnum']}</td>  
					</tr>
					</volist>
				</tbody>
			</table>
				</div>
                </div>
                <!--User balance-->
                <div class="" style="overflow:hidden;">
				<div class="fl" style="padding-bottom:10px; width:56%; margin-left:15px;">
							<strong>					
								User balance
							</strong>
				<table class="table table-hover table-striped table-bordered" style="width:100%; border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Currency type</th>
                        <th class="text-center w-200px">User balance</th>
						<th class="text-center w-300px">User frozen</th>
					</tr>
				</thead>
				<tbody>		
					<volist name="alltj" id="vo" key="key">					
					<tr>
						<td class="text-right ">{$vo['membertj']['currency']['currency_mark']}</td>
						<td class="text-right">{$vo['membertj']['allnum']|default='0.0000'}</td>
						<td class="text-right">{$vo['membertj']['allcoldnum']|default='0.0000'}</td>  
					</tr>
					</volist>				
				</tbody>
			</table>
				</div>
                <!--Recharge withdrawal-->
				<div class="fl" style="padding-bottom:10px; width:40%; margin-left:10px;">
							<strong>					
								Recharge withdrawal
							</strong>
				<table class="table table-hover table-striped table-bordered" style="width:100%;border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Currency type</th>
                        <th class="text-center w-200px">Recharge</th>
						<th class="text-center w-300px">Withdraw</th>
                        <th class="text-center w-300px">Trade</th>
					</tr>
				</thead>
				<tbody>	
					<volist name="alltj" id="vo" key="key">					
					<tr>
						<td class="text-right ">{$vo['cztxtj']['currency']['currency_mark']}</td>
						<td class="text-right">{$vo['cztxtj']['txmoney']['txmoney']|default='0.0000'}</td>
                        <td class="text-right">{$vo['cztxtj']['czmoney']['czmoney']|default='0.0000'}</td> 
                         <td class="text-right">{$vo['cztxtj']['jymoney']['jymoney']|default='0.0000'}</td>  
					</tr>
					</volist>	
				</tbody>
			</table>
				</div>
                </div>
                <!--挂单Trade-->
                <div style="overflow:hidden;">
                  <div style="padding-bottom:10px; width:97%; clear:both; margin-left:15px;">
							<strong>					
								挂单Trade
							</strong>
			<table class="table table-hover table-striped table-bordered" style="width:100%;border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-80px">Trade type</th>
                        <th class="text-center w-80px">Buy pending order volumn</th>
                        <th class="text-center w-80px">Buy pending order amount</th>
                        <th class="text-center w-80px">Selling pending order volumn</th>
                        <th class="text-center w-80px">Selling pending order amount</th>
						<th class="text-center w-80px">Buy trading volume</th>
						<th class="text-center w-80px">Buy trading amount</th>
                        <th class="text-center w-80px">Sell trading volumn</th>
						<th class="text-center w-80px">Sell trading amount</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo" key="key">	
					<tr>                     
						<td class="text-right ">{$vo['currency']['currency_mark']}_{$vo['trade_currency']['currency_mark']}</td>
						<td class="text-right ">{$trade[$key]['jiaoyinum']}</td>
                        <td class="text-right ">{$trade[$key]['jiaoyiprice']}</td>
                        <td class="text-right ">{$trade[$key]['jiaoyiprice']}</td>
                        <td class="text-right ">{$trade[$key]['jiaoyiprice']}</td>
                        <td class="text-right ">39666890.58940000</td>
                        <td class="text-right ">1457810.50958020</td>
                        <td class="text-right ">39666890.58940000</td>
                        <td class="text-right ">1457810.50958020</td>
					</tr>
					</volist>	
                    <tr>						
                        <th colspan="2" class="text-right ">Total</th>
                        <td class="text-right " colspan="2"></td>
					</tr>
					
				</tbody>
			</table>
				</div>
			</div>
            <!--Game statistics-->
            <div style="overflow:hidden;">
                  <div style="padding-bottom:10px; width:97%; clear:both; margin-left:15px;">
							<strong>					
								Game statistics
							</strong>
			<table class="table table-hover table-striped table-bordered" style="width:100%;border: 1px solid #ddd;">
				<thead>	
					<tr>
						<th class="text-center w-100px">Currency type</th>
                        <th class="text-center w-200px">Betting</th>
						<th class="text-center w-200px">Bonus</th>
						
					</tr>
				</thead>
				<tbody>					
					<tr>
						<td class="text-right ">VRC</td>
						<td class="text-right "></td>
                        <td class="text-right "></td>
                                          
					</tr><tr>
						<td class="text-right ">CNY</td>
						<td class="text-right "></td>
                        <td class="text-right "></td>
                                          
					</tr><tr>
						<td class="text-right ">FHG</td>
						<td class="text-right "></td>
                        <td class="text-right "></td>
                                          
					</tr><tr>
						<td class="text-right ">NEC</td>
						<td class="text-right "></td>
                        <td class="text-right "></td>
                                          
					</tr><tr>
						<td class="text-right ">BLK</td>
						<td class="text-right "></td>
                        <td class="text-right "></td>
                                          
					</tr><tr>
						<td class="text-right ">BC</td>
						<td class="text-right "></td>
                        <td class="text-right "></td>
                                          
					</tr>                    <tr>
						<th colspan="2" class="text-right ">Total</th>
                        <td colspan="2" class="text-right "></td>
					</tr>
					
				</tbody>
			</table>
				</div>
			</div>
            <!--Calculation-->
            <div style="overflow:hidden;">
                  <div style="padding-bottom:10px; width:97%; clear:both; margin-left:15px;">
							<strong>					
								Calculation
							</strong>
			<table class="table table-hover table-striped table-bordered" style="width:100%;border: 1px solid #ddd;">
				<thead>	
               		<tr>
						<th class="warning">Currency type </th>
					</tr>
					<tr>
						<th class="warning">Recharge amount - Withdraw amount + Buy amount - Sell amount + Bonus-Betting amount - Pending amount</th>
					</tr>
					<tr>
						<th class="warning">User balance</th>
					</tr>
				</thead>
				<tbody>	
					<tr>
                    	
						<td class="text-right ">VRC</td>
					</tr>
                    <tr>
                    	
						<td class="text-right ">44706356.232455                        
                        </td>
					</tr>
                    <tr></tr><tr>
                    	
						<td class="text-right ">CNY</td>
					</tr>
                    <tr>
                    	
						<td class="text-right ">3438487.9776789                        
                        </td>
					</tr>
                    <tr></tr><tr>
                    	
						<td class="text-right ">FHG</td>
					</tr>
                    <tr>
                    	
						<td class="text-right ">299826                        
                        </td>
					</tr>
                    <tr></tr><tr>
                    	
						<td class="text-right ">NEC</td>
					</tr>
                    <tr>
                    	
						<td class="text-right ">3249466                        
                        </td>
					</tr>
                    <tr></tr><tr>
                    	
						<td class="text-right ">BLK</td>
					</tr>
                    <tr>
                    	
						<td class="text-right ">5209500.7747685                        
                        </td>
					</tr>
                    <tr></tr><tr>
                    	
						<td class="text-right ">BC</td>
					</tr>
                    <tr>
                    	
						<td class="text-right ">14999152.9                        
                        </td>
					</tr>
                    <tr></tr>					
				</tbody>
			</table>
				</div>
			</div>
                     <div class="list-page"> <ul>{$page}</ul></div>
                </div>
            
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>
function pass(id){
	layer.confirm(
	'Confirm pass review', 
	{btn:['Confirm','Cancel']},
	function(){
	  $.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":1},function(data){
		  if(data.status==0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
	}
	),
	function(){
		layer.msg('Cancelled');
	}
}

function fail(id){
	layer.confirm(
	'Confirm fail review', 
	{btn: ['Confirm','Cancel'],},
	function(){
		//href="{:U('Pay/payUpdate',array('pay_id'=>$vo['pay_id'],'status'=>1))}			
		$.post("{:U('Pay/payUpdate')}",{"pay_id":id,"status":2},function(data){
				if(data.status == 0){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
					
				}else if(data.status == 2){
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(data['info']);
					setTimeout("location.reload()",2000);
				}
		})
		}
		),
	 function(){
		layer.msg('Cancelled');
	}
}
</script>
<script>
$(".sub-menu").eq(11).show();
$(".sub-menu").eq(11).children("li").eq(2).addClass("on");
</script>