<include file="App/Home/View/Public/header.html"/>
    <!--top end-->
<script src="js/index.js"></script>
<div id="main">
	<div class="main_box">
		
		<include file="App/Home/View/Public/left.html"/>
		<div class="raise right clearfix">
            <div class="ybc_list">
	<div class="ybcoin clearfix">
		<h2 class="left">Transaction history</h2>
		<div class="right" style="margin-top:7px;">
			<select id="coninname" onchange="coinorder()">
				 <volist name="currency" id="vo">		    
                    <option value="{$vo['currency_mark']|default=""}">{$vo['currency_name']|default="Crypto currency"}to USDT</option>
                    </volist>   
            </select>
		</div>
	</div>
		<table class="raise_list" style="border:1px solid #e1e1df;" id="Transaction" align="center" border="0" cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<th>Order number</th>
				<th>Crypto currency type</th>
				<th>Transaction time</th>
				<th>Type</th>
				<!--<th>买/卖</th>-->
				<th>Transaction price</th>
				<th>Transaction volume</th>
				<th>Transaction amount</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
<script>
function coinorder()
{
	var coinname = $('#coninname').val();
	location.href='/user_exchange/coinorderold/coinname/'+coinname;
}
</script>
		</div>
		<div class="clear"></div>
	</div>
</div>  
<script>
$(".menu5").addClass("uc-current");
</script>  
<!--footer start-->

		<include file="App/Home/View/Public/footer.html"/>