<include file="App/Admin/View/Public/left.html"/>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Add dividend bonus</span></div>
    </div>

    <div class="result-wrap">
    <div style="float:left; width:30%; margin-right:20px;">
             <div class="config-title">

				<h1><i class="icon-font">&#xe00a;</i>Add bonus</h1>
			</div>
        <form action="{:U('Bonus/addBonus')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <div class="config-items">
                <div class="result-content">
                    <table width="100%" class="insert-tab">
                        <tbody>
                        
                        
                        <tr>
                            <th style="width:35%;"><i class="require-red">*</i>Dividend amount:</th>
                            <td><input name="num"  type="text"><span id="showBug" style=" margin-left:10px;color:#FF0000"></span></td>
                        </tr>
                        
                        <tr>
                            <th><i class="require-red">*</i>Dividend operation base:</th>
							 <td>
								<select name="currency_id" id="category">
								<foreach name="currency" item="vo">
								<option  value="{$vo.currency_id}">{$vo.currency_name}</option>
								</foreach>
								</select>
							</td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>Users get crypto currency:</th>
							 <td>
								<select name="set_currency_id" id="category">
								<option value="0">USDT</option>
								<foreach name="currency" item="vo">
								<option  value="{$vo.currency_id}">{$vo.currency_name}</option>
								</foreach>
								</select>
							</td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>message notification:</th>
                            <td><input name="text" type="text"></td>
                        </tr>
                       
                            <th></th>
                            <td>
                                <input type="button" onclick="subform()" value="Submit" class="btn btn-primary btn6 mr10">
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </form>
    </div>
    <div style="float:left; width:65%;">
	 <div class="config-title">
         <h1><i class="icon-font">&#xe00a;</i>Dividend</h1>
     </div>
	<table class="result-tab" width="100%">
                    <tr>
                        <th>Dividend handling currency</th>
                        <th>Total number of dividend processing fees</th>
						<th>Processed dividend processing fees</th>
                        <th>Remaining dividend processing fees</th>
                    </tr>
                    <volist name='list' id='vo'>
                        <tr>
                           <td>{$vo.currency_id|getCurrencynameByCurrency=###}</td>
                            <td>{$vo['sumMoney']|default=0}</td>
							<td>{$vo['money']|default=0}</td>
                           <td><if condition="$vo['sumMoney'] - $vo['money'] lt 0" > 0<else/> {$vo['sumMoney'] - $vo['money']}</if>  </td>
                        </tr>
                    </volist>
                </table>
    </div>

	
		<div style="clear:both;"></div>
    </div>
</div>
<script>
ckemail = 0;

function subform(){
	$('#myform').submit();
	
}
</script>

<!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(4).show();
$(".sub-menu").eq(4).children("li").eq(0).addClass("on");
</script>