<include file="App/Admin/View/Public/left.html"/>
<script>
	function checkForm(){
		var name = document.getElementById('name').value;
		var sort = document.getElementById('sort').value;
		if(name != ""){
			if(!isNaN(sort)){
			   document.getElementById('myform').submit();
			}else{
			   alert("Please enter sort number");
			}
		}else{
			alert('Please fill in the category name');
		}
	}
</script>
<style>
.newtable {width:60%; float:left; border:#eee 1px  solid; text-align:center;}
.newtable  tr  td{line-height: 40px;  border:#eee 1px  solid;}



</style>
<div class="main-wrap">
  <div class="crumb-wrap" >
    <div class="crumb-list"><i class="icon-font"></i><a href="U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Arttype/index')}">Article classification</a><span class="crumb-step">&gt;</span><span>Add Article Category</span></div>
  </div>
  <div class="result-wrap" style="border:none;">
    <div class="result-content" style="float:left; width:40%;">
      <form action="{:U('Arttype/insert')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
        <table class="insert-tab"   >
          <tbody>
            
            <tr>
                <th><i class="require-red">*</i>Category Name: </th>
                <td><input class="common-text required" id="name" name="name" size="50" value="{$list.name}" type="text"></td>
            </tr>
            <tr>
                <th>Keywords: </th>
                <td><input class="common-text required" id="keyword" name="keyword" size="50" value="{$list.keywords}" type="text"></td>
            </tr>       
            <tr>
              <th>Sort (input number): </th>
              <td><input class="common-text required" id="sort" name="sort" size="50" value="{$list.sort}" type="text"></td>
            </tr>
            <input type="hidden" name="fenlei_id" value="{$list.id}">
            <tr><i class="require-red">*</i>Required, other optional</tr>
            <tr>
              <th></th>
              <td><input class="btn btn-primary btn6 mr10" value="Submit"  type="button" onclick="checkForm()" >
                <input class="btn btn6" onclick="history.go(-1)" value="Return" type="button"></td>
            </tr>
          </tbody>
        </table>
        </form>
        
    </div>    
        <table class="newtable" >
        <tr>
        <td>ID</td>
        <td>Category name: </td>
        <td>Keywords: </td>
        <td>Sort by:</td>
        <td>Operate</td>
        </tr>

                  <volist name="cat" id="vo">
                   	<tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.keywords}</td>
                    <td>{$vo.sort}</td>
                    <td> 
                    	<a class="link-update" href="{:U('Arttype/insert',array('id'=>$vo['id']))}">Modify</a>
                         &nbsp;&nbsp;
                        <a class="link-del" href="{:U('Arttype/delete', array('id'=>$vo['id']))}" onclick="return confirm('确认Delete吗？')">Delete</a></td>
                    </tr>
                  </volist>

     
     </table>
     
     
    
  </div>
</div>
<!--/main-->

</div>
</body></html>
<script>
$(".sub-menu").eq(9).show();
$(".sub-menu").eq(9).children("li").eq(1).addClass("on");
</script>