<include file="App/Home/View/Public/header.html"/>
<style>
    .top{ border-bottom:0; padding:10px 0;}
    #main{ padding:0;}
    .login_tongyi{ width:1000px; margin:0 auto; border:1px solid #ddd;}
    .ybc_footer{ text-align:center; color:#999; margin:30px 0;}
	 .loginBox .login label.error{
         float:inherit;
         padding-left: 10px;
     }
    .error{
        color: #999;
    }
</style>
<div id="main">
    <div class="mainbody login_tongyi">

        <div class="bigcontainer">
            <div class="left630">
                <h2 class="user">Forget password</h2>

                <div class="loginBox">
                    <form method="post" id="findPwdForm" action="{:U('Login/findpwd')}" jump-url="{:U('Index/index')}">
                        <!-- 电子邮箱 -->
                        <ul class="login">
                            <li><label for="email">Email:</label><input type="text" class="loginValue" value="" name="email">
                            </li>
                            <li><label>Verification code:</label><input class="loginValue" name="captcha" id="captcha">
                                <img id="captchaimg" src="{:U('Login/showVerify')}">
                                <a href="#" onclick="$('#captchaimg').attr('src', '{:U(\'Login/showVerify\')}?t='+Math.random())">Not clear?</a></li>
                            <li style="margin-bottom:15px;"><label>&nbsp;</label><input type="submit" value="Recover password" class="tijiao" style="border:0;"></li>
                            <li><label>&nbsp;</label>Existing account&nbsp;<a href="{:U('Login/index')}">Logon</a><span>No{$config.name|default='lemonthy website'}account?&nbsp;<a href="{:U('Reg/reg')}" class="zhuce">register</a></span></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#findPwdForm").validate({
        rules: {
            email:{
                required:true,
                email:true
            },
            captcha:{
                required:true
            }
        },
        messages: {
            email:{
                required:"E-mail can not be empty",
                email:"E-mail format is incorrect"
            },
            captcha:{
                required:"verification code must be filled"
            }
        },
        submitHandler:function(form){
            ajax_submit_form(form)
            return false;
        },
        invalidHandler: function() {  //不通过回调
            return false;
        }
    });
</script>

<!--footer start-->
<include file="App/Home/View/Public/footer.html"/>
