
<include file="App/Admin/View/Public/left.html" />
<!--/sidebar-->
<div class="main-wrap">
	<div class="crumb-wrap">
		<div class="crumb-list">
			<i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span
				class="crumb-step">&gt;</span><span class="crumb-name">System settings</span>
		</div>
	</div>
	<div class="result-wrap">
		<form action="{:U('Config/updateCofig')}" method="post" id="myform"
			name="myform" enctype="multipart/form-data">
			<div class="config-items">
				<div class="config-title">
					<h1>
						<i class="icon-font">&#xe00a;</i>Website SMS settings
					</h1>
				</div>
				<div class="result-content">
					<table width="100%" class="insert-tab">
						<tbody>
							<tr>
								<th><i class="require-red">*</i>SMS interface user name: </th>
								<td><input type="text" id=""
									value="{$config.CODE_USER_NAME}" size="85"
									name="CODE_USER_NAME" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>SMS interface password: </th>
								<td><input type="text" id=""
									value="{$config.CODE_USER_PASS}" size="85"
									name="CODE_USER_PASS" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>SMS interface to send the title: </th>
								<td><input type="text" id="" value="{$config.CODE_NAME}"
									size="85" name="CODE_NAME" class="common-text"></td>
							</tr>
                              <tr>
								<th><i class="require-red">*</i>Purchase SMS address: </th>
								<td><a href="http://www.smsbao.com/reg?r=10217" style="font-size:24px">click to enter</a></td>
							</tr>
							<tr>
								<td colspan="2"><div class="config-title">
										<h1>
											<i class="icon-font">&#xe00a;</i>Website email settings
										</h1>
									</div></td>
							</tr>

							<tr>
								<th><i class="require-red">*</i>Your business email domain name:</th>
								<td><input type="text" id="" value="{$config.EMAIL_HOST}"
									size="85" name="EMAIL_HOST" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>Office email user name (please fill in the complete email address): </th>
								<td><input type="text" id=""
									value="{$config.EMAIL_USERNAME}" size="85"
									name="EMAIL_USERNAME" class="common-text"></td>
							</tr>

							<tr>
								<th><i class="require-red">*</i>Email password: </th>
								<td><input type="text" id=""
									value="{$config.EMAIL_PASSWORD}" size="85"
									name="EMAIL_PASSWORD" class="common-text"></td>
							</tr>
                          
							<tr>
								<th></th>
								<td><input type="submit" value="Submit"
									class="btn btn-primary btn6 mr10"> <input type="button"
									value="返回" onclick="history.go(-1)" class="btn btn6"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</form>
	</div>
</div>
<!--/main-->
</div>
</body>
</html>
<script>
	$(".sub-menu").eq(0).show();
	$(".sub-menu").eq(0).children("li").eq(4).addClass("on");
</script>