    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Membership</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="{:U('Member/index')}" method="post">
                    <table class="search-tab">
                        <tr>
                            <td width="70">Member account:</td>
                            <td><input class="common-text" placeholder="Keywords" name="email" type="text"></td>
                              <td width="70">Member ID:</td>
                            <td><input class="common-text" placeholder="ID" name="member_id" type="text"></td>
                            <td><input class="btn btn-primary btn2"  value="Query" type="submit"></td>
                        </tr>
                    </table>
                </form>
				
            </div>
        </div>
        <div class="result-wrap">

            <div class="result-title">
                <div class="result-list">
                    <a href="{:U('Member/addMember')}"><i class="icon-font"></i>New member</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th>ID</th>
                        <th>Member email</th>
                        <th>Inviter</th>
                        <th>Members name</th>
                        <th>Phone number</th>
                        <th>Account balance</th>
                        <th>Frozen amount</th>
                        <th>Registration time</th>
                        <th>Status</th>
                        <th>Operate</th>
                    </tr>
                    <volist name='list' id='vo'>
                        <tr>
                            <td>{$vo['member_id']}</td>
                            <td>{$vo['email']}</td>
							<td>{$vo['pid']}</td>
                            <td>{$vo['name']}</td>
                            <td>{$vo['phone']}</td>
                            <td>{$vo['rmb']}</td>
                            <td>{$vo['forzen_rmb']}</td>
							<td>{$vo['reg_time']|date='Y-m-d H:i:s',###}</td>
                            <td><if condition="$vo['status'] eq 1">
									Normal
								</if>
								<if condition="$vo['status'] eq 2">
									Disable
								</if>
								<if condition="$vo['status'] eq 0">
									No personal information(<a href="{:U('Member/saveModify',array('member_id'=>$vo['member_id']))}">fill out</a>)
								</if>
								</td>
                            <td>
                                <a class="link-del" href="{:U('Finance/index',array('member_id'=>$vo['member_id']))}">View financial log</a>
                                <br>
                                <a class="link-del" href="{:U('Member/show_my_invit',array('member_id'=>$vo['member_id']))}">View invitees</a><br>
                                <a class="link-update" href="{:U('Member/saveMember',array('member_id'=>$vo['member_id']))}">Modify|</a>
                                <a class="link-del" href="{:U('Member/delMember',array('member_id'=>$vo['member_id']))}" onclick="return confirm('Confirm delete?')">Delete</a>
                                <a class="link-update" href="{:U('Member/show',array('member_id'=>$vo['member_id']))}">View member account</a>
                            </td>
                        </tr>
                    </volist>

                </table>
                <div class="list-page"> <ul>{$page}</ul></div>
            </div>

        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(3).show();
$(".sub-menu").eq(3).children("li").eq(0).addClass("on");
</script>