   <include file="App/Admin/View/Public/left.html"/>
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Withdrawal review</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="{:U('Pending/index')}" method="get">
                    <table class="search-tab">
                        <tr>
                            <th width="120">Choose category:</th>
                            <td>
                                <select name="status" id="">
                                  <option value="0">All</option>
                                  <option value="1">Not pass</option>
                                  <option value="2">Pass</option>
                                  <option value="3">Under review</option>
                                </select>
                            </td>
                            <th width="70">Casher:</th>
                            <td><input class="common-text" placeholder="Casher" name="keyname" value="{$inquire}" id="keyname" type="text"></td>					
                  
                            <td><input class="btn btn-primary btn2" value="Query" type="submit"></td>
                            <tr>   
                                    <th><i class="require-red">*</i>Start time: </th>
                                    <td>
                            
                                    <div class="row"><div class="col-md-6">
                                                    <i class="fa fa-calendar"></i></span>
                                                    <input type="text" name="add_time" class="ui_timepicker" id="aaaaa1" placeholder="Select date and time" value="{$list.add_time|date='Y-m-d H:i:s',###}"  />
                                                </div></div></td>
                                  <script type="text/javascript">
                                    $(function () {
                                        $("#aaaaa1").datetimepicker({
                                            //showOn: "button",
                                            //buttonImage: "./css/images/icon_calendar.gif",
                                            //buttonImageOnly: true,
                                            showSecond: true,
                                            timeFormat: 'hh:mm:ss',
                                            stepHour: 1,
                                            stepMinute: 1,
                                            stepSecond: 1
                                        })
                                            $("#aaaaa2").datetimepicker({
                                            //showOn: "button",
                                            //buttonImage: "./css/images/icon_calendar.gif",
                                            //buttonImageOnly: true,
                                            showSecond: true,
                                            timeFormat: 'hh:mm:ss',
                                            stepHour: 1,
                                            stepMinute: 1,
                                            stepSecond: 1
                                        })
                                   
                                    })
                                </script>
                                    <th><i class="require-red">*</i>Finish time</th>
                                    <td><div class="row"><div class="col-md-6">
                                                    <i class="fa fa-calendar"></i></span>
                                                    <input type="text" name="end_time" class="ui_timepicker" id="aaaaa2" placeholder="Select date and time" value="{$list.end_time|date='Y-m-d H:i:s',###}" / >
                                                </div></div></td>
									<td><input class="btn btn-primary btn2" name="sub" value="Download form" type="button" onclick="download()"></td>
								</tr>
								
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>               
                            <th>Casher</th>
                            <th>Member ID</th>
                            <th>Bank</th>
                            <th>Bank account</th>
                            <th>Bank opening location</th>
                            <th>Account opening branch</th>
                            <th>Withdrawal Amount</th>
                            <th>Handling fee（{$config.fee}%）</th>
                            <th>Actual amount</th>
                            <th>Order number</th>
                            <th>Submit time</th>
                            <th>Status</th>
                            <th>Operate</th>
                        </tr>
  						<volist name='info' id='vo'>
                        <tr>
                            <td>{$vo.withdraw_id}</td>
                            <td>{$vo.cardname}</td>
                            <td>{$vo.uid}</td>
                            <td>{$vo.bankname}</td>
                            <td>{$vo.cardnum}</td>
                            <td>{$vo.aarea_name}&nbsp;&nbsp;{$vo.barea_name}</td>
                            <td>{$vo.bank_branch|default="Not yet filled in"}</td>
                            <td>{$vo.all_money}</td>
                            <td>{$vo.withdraw_fee}</td>
                            <td>{$vo.money}</td>
                            <td>{$vo.order_num}</td>
                            <td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
                            <td><eq name="vo.status" value="1">Not pass<else/><eq name="vo.status" value="2">Pass<else/>Under review</eq></eq></td>
                            <td>	
                            	<eq name="vo.status" value="3">										
                                <a class="link-update" href="javascript:void(0);" onclick="pass({$vo.withdraw_id});">Pass</a>
                                &nbsp;&nbsp;
                                <a class="link-del" href="javascript:void(0);"onclick="fail({$vo.withdraw_id})">不Pass</a>
                                <else /> Operateion Successful</eq>	
                            </td>                        
                            </tr>
                        </volist>
                       
                    </table>
                    <div class="list-page"> <ul>{$page}</ul></div>
                </div>
          
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(6).show();
$(".sub-menu").eq(6).children("li").eq(0).addClass("on");
function pass(id){
	layer.confirm('Confirm pass review', {
	  btn: ['Confirm','Cancel'], //按钮
	}, function(){
		//location.href = '{:U('Pending/successByid',array('id'=>$vo['withdraw_id']))}';
		$.post("{:U('Pending/successByid')}",{"id":id},function(datas){
				if(datas.status == 0){
					layer.msg(datas['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(datas['info']);
					setTimeout("location.reload()",2000);
				}
			});
	  //layer.msg('');
	}, function(){
		layer.msg('Cancelled');
	});
}
function fail(id){
	layer.confirm('Confirm faile review', {
	  btn: ['Confirm','Cancel'], //按钮
	}, function(){		
	//	location.href = '{:U('Pending/falseByid', array('id'=>$vo['withdraw_id']))}';
		$.post("{:U('Pending/falseByid')}",{"id":id},function(datas){
				if(datas.status == 0){
					layer.msg(datas['info']);
					setTimeout("location.reload()",2000);
				}else if(datas.status == 2){
					layer.msg(datas['info']);
					setTimeout("location.reload()",2000);
				}else{
					layer.msg(datas['info']);
					setTimeout("location.reload()",2000);
				}
		});
	  //layer.msg('');
	}, function(){
		layer.msg('Cancelled');
	});
}
</script>

<script>
function download(){
	var add_time=$('#aaaaa1').val();
	var end_time=$('#aaaaa2').val();
	var url="{:U('Pending/derivedExcel')}";
	window.location.href=url+"?add_time="+add_time+"&&end_time="+end_time;
}
</script>