    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Administrator</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="{:U('Manage/index')}" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">Administrator:</th>
                            <td><input class="common-text" placeholder="Administrator" name="username" type="text"></td>
                            <td><input class="btn btn-primary btn2"  value="Query" type="submit"></td>
                        </tr>
                    </table>
                </form>
				
            </div>
        </div>
        <div class="result-wrap">

            <div class="result-title">
                <div class="result-list">
                    <a href="{:U('Manage/addAdmin')}"><i class="icon-font"></i>New administrator</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th>ID</th>
                        <th>Administrator name</th>
                        <th>Status</th>
                        <th>Operate</th>
                    </tr>
                    <volist name='list' id='vo'>
                        <tr>
                            <td>{$vo['admin_id']}</td>
                            <td>{$vo['username']}<eq name="vo.nav" value="">&nbsp;(This account has not been assigned permissions)</eq></td>
                            <td><eq name='vo.status' value='0'>Enable<else/>Disable</eq></td>
                            <td>
                                <a class="link-update" href="{:U('Manage/addAdmin',array('admin_id'=>$vo['admin_id']))}">Modify information</a>
                                <a class="link-update" href="{:U('Manage/showNav',array('admin_id'=>$vo['admin_id']))}">Modify permissions</a>
                                <eq name='vo.admin_id' value='1'><else/><a class="link-del" href="{:U('Manage/delMember',array('admin_id'=>$vo['admin_id']))}" onclick="return confirm('Confirm delete?')">Delete</a></eq>
                            </td>
                        </tr>
                    </volist>

                </table>
                <div class="list-page"> <ul>{$page}</ul></div>
            </div>

        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(10).show();
$(".sub-menu").eq(10).children("li").eq(0).addClass("on");
</script>