<include file="App/Admin/View/Public/left.html"/>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Total station statistics</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>Total station statistics</h1>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <td>Total number of members</td>
                    <td>{$member|default='0'}人</td>
                    <td>Total number of crowdfunding</td>
                    <td>{$issue_count['count']|default='0'}</td>
                </tr>
                <tr>
                    <td>Income</td>
                    <td>USDT{$pay_money_count|default='0'|floatval=###}</td>
                    <td>Expense</td>
                    <td>USDT{$withdraw_money_count|default='0'|floatval=###}</td>
                </tr>
                <tr>
                    <td>Recharge number</td>
                    <td>{$pay_count|default='0'}number</td>
                    <td>Withdraw number</td>
                    <td>{$withdraw_count|default='0'}number</td>
                </tr>
            </table>
            <div class="result-title">
                <h1>Total station currency statistics</h1>
            </div>
            <table class="result-tab" width="70%" style="text-align: center;margin-left: 130px;">
                <tr>
                    <td>Currency name</td>
                    <td>Available</td>
                    <td>Frozen</td>
                    <td>Total</td>
                </tr>
                <volist name="currency_u_info" id="vo">
                    <tr>
                        <td>{$vo['currency_name']}</td>
                        <td>{$vo['num']|floatval=###}</td>
                        <td>{$vo['forzen_num']|floatval=###}</td>
                        <td>{$vo['num']+$vo['forzen_num']|floatval=###}</td>
                    </tr>
                </volist>

            </table>
        </div>
    </div>
    <script>
        $(function(){
            $('#button').click(function(){
                if(confirm("Confirm to clear the cache?")){
                    var $type=$('#type').val();
                    $.post("{:U('Index/cache')}",{type:$type},function(data){
                        alert("Cache cleanup succeeded");
                    });
                }else{
                    return false;
                }});
        });
    </script>
</div>
<!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(2).show();
$(".sub-menu").eq(2).children("li").eq(2).addClass("on");
</script>