    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Withdraw records</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="{:U('Currency/tibi_index')}" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">Member account: </th>
                            <td><input class="common-text" placeholder="Keyword" name="email" type="text"></td>
							     <td><select name="cuid">
								 <volist name="curr" id='vo'>
								 	<option value="{$vo.currency_id}" <eq name="id" value="$vo['currency_id']">selected='selected'</eq>>{$vo.currency_name}</option>
								 </volist>
								 
								 
								 </select></td>
                            <td><input class="btn btn-primary btn2"  value="Query" type="submit"></td>
                        </tr>
                    </table>
                </form>
				
            </div>
        </div>
        <div class="result-wrap">

            <div class="result-title">
                <div class="result-list">
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                      
                        <th>Member Email</th>
						<th>Crypto currency name</th>
						<th>Transfer in wallet address</th>
                        <th>Transfer Amount</th>
                        <th>Actual amount</th>
                        <th>Trasfer time</th>
                     
                        <th>Status</th>
              
                    </tr>
                    <volist name='list' id='vo'>
                        <tr>
                         
                            <td>{$vo['email']}</td>
							<td>{$vo['currency_name']}</td>
							<td>{$vo['url']}</td>
                            <td>{$vo['num']}</td>
                            <td>{$vo['actual']}</td>
							<td>{$vo['add_time']|date='Y-m-d H:i:s',###}</td>
                         
						
                            <td><if condition="$vo['status'] eq 0">
									Pending transfer...
								</if>
								<if condition="$vo['status'] eq 1">
									Completed
								</if>
								
								</td>
                          
                        </tr>
                    </volist>

                </table>
                <div class="list-page"> <ul>{$page}</ul></div>
            </div>

        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(8).show();
$(".sub-menu").eq(8).children("li").eq(2).addClass("on");
</script>