   <include file="App/Admin/View/Public/left.html"/>
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">Home</a><span class="crumb-step">&gt;</span><span class="crumb-name">Article</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            	<!--article_category_id传递文章类型id-->
                <form action="{:U('Art/helpindex')}" method="post" id="myform">
                    <table class="search-tab">
                        <tr>
                            <th width="120">Choose category: </th>
                            <td>

                               <select name="news_id" id="news_id">
                                  <option value="">All</option>
                                  <volist name="category" id="vo">
                                    <option value="{$vo.id}" <eq name="vo.id" value="$inquire.news_id">selected="selected"</eq>> {$vo.name}</option>
          
                                  </volist>
                                </select>   
                            </td>  
                            <th width="70">Title: </th>
                            <td><input class="common-text" placeholder="Keywords" name="title" value="{$inquire.news_title}" id="news_title" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="Query" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
           
                <div class="result-title">
                    <div class="result-list">
                    	<!--article_category_id传递文章类型id-->
                        <a href="{:U('Art/insert',array('article_category_id'=>6))}"><i class="icon-font"></i>Add article</a>
                        <a href="{:U('Arttype/insert')}"><i class="icon-font"></i>Add help category</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Classification</th>
                            <th>Content</th>
                            <th>Marked red</th>
                            <th>Update time</th>
                            <th>Status</th>
                            <th>Operate</th>
                        </tr>
  						<volist name='info' id='vo'>
                        <tr>
                            <td>{$vo.article_id}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.content}</td>
                            <td><eq name="vo.sign" value="1">Yes<else/>No</eq></td>
                            <td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
                            <td>{$vo.status}</td>
                            <td>												
                                <a class="link-update" href="{:U('Art/insert',array('article_id'=>$vo['article_id'],'article_category_id'=>$vo['parent_id']))}">Modify</a>
                                &nbsp;&nbsp;
                                <a class="link-del" href="{:U('Art/delete', array('article_id'=>$vo['article_id']))}" onclick="return confirm('Confirm delete? ')">Delete</a>
                            </td>                        
                            </tr>
                        </volist>
                       
                    </table>
                    <div class="list-page"> <ul>{$page}</ul></div>
                </div>
          
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(9).show();
$(".sub-menu").eq(9).children("li").eq(2).addClass("on");

</script>