<div id="my_menu" class="sdmenu left">
		<div>
			<p><i class="iconfont">&#xe61e;</i>&nbsp;My assets</p>
						<a href="{:U('User/index')}" class="menu"><b class="ic-uc"></b><i class="iconfont">&#xe6f6;</i>&nbsp;&nbsp;Account Balance</a>
                        <a href="{:U('Finance/index')}" class="menu13"><b class="ic-uc"></b><i class="iconfont">&#xe93e;</i>&nbsp;&nbsp;Financial log</a>
						<a href="{:U('FillByBank/index')}" class="menu15"><b class="ic-uc"></b><i class="iconfont">&#xe602;</i>&nbsp;&nbsp;Online Payment</a>
                        <a href="{:U('Fill/index')}" class="menu138"><b class="ic-uc"></b><i class="iconfont">&#xe93e;</i>&nbsp;&nbsp;Online payment log</a>
					</div>
		<div style="position:relative;">
			<p><i class="iconfont">&#xe643;</i>&nbsp;My trade</p>
						<a href="{:U('Entrust/manage')}" class="menu2"><b class="ic-uc"></b><i class="iconfont">&#xe616;</i>&nbsp;&nbsp;Entrusted management</a>
						<a href="{:U('Trade/mydeal')}" class="menu3"><b class="ic-uc"></b><i class="iconfont">&#xe65b;</i>&nbsp;&nbsp;My deal</a>
						<a href="{:U('Entrust/history')}" class="menu4"><b class="ic-uc"></b><i class="iconfont">&#xe62d;</i>&nbsp;&nbsp;Commission history</a>
						
						<a href="{:U('User/zhongchou')}" class="menu6"><b class="ic-uc"></b><i class="iconfont">&#xe60b;</i>&nbsp;&nbsp;My crowdfunding</a>
					</div>
                    <div>
			<p><i class="iconfont">&#xe60e;</i>&nbsp;Security</p>
            		
						<!--<a href="{:U('Safe/index')}" class="menu11"><b class="ic-uc"></b><i class="iconfont">&#xe649;</i>&nbsp;&nbsp;Security</a>-->
                        <a href="{:U('User/updatePassword')}" class="menu8"><b class="ic-uc"></b><i class="iconfont">&#xe638;</i>&nbsp;&nbsp;Change password</a>
                        <a href="{:U('User/updateMassage')}" class="menu7"><b class="ic-uc"></b><i class="iconfont">&#xe649;</i>&nbsp;&nbsp;Personal information</a>
						<!--<a href="{:U('Safe/mobilebind')}" class="menu12"><b class="ic-uc"></b><i class="iconfont">&#xe609;</i>&nbsp;&nbsp;手机绑定</a>-->
					  </div>
				  <div>
			<p><i class="iconfont">&#xe611;</i>&nbsp;Account</p>
			            <a href="{:U('User/pay')}" class="menu12"><b class="ic-uc"></b><i class="iconfont">&#xe620;</i>&nbsp;&nbsp;Charge</a>
			            <a href="{:U('User/draw')}" class="menu14"><b class="ic-uc"></b><i class="iconfont">&#xe6f0;</i>&nbsp;&nbsp;Withdraw</a>
            		    <a href="{:U('Safe/index')}" class="menu11"><b class="ic-uc"></b><i class="iconfont">&#xe660;</i>&nbsp;&nbsp;Account</a>
						<a href="{:U('User/invit')}" class="menu9"><b class="ic-uc"></b><i class="iconfont">&#xe602;</i>&nbsp;&nbsp;Invite friend</a>
						<a href="{:U('User/sysMassage')}" class="menu10"><b class="ic-uc"></b><i class="iconfont">&#xe664;</i>&nbsp;&nbsp;System information<if condition="$newMessageCount"><span class="messagenum">{$newMessageCount}</span></if></a>



					  </div>
		</div>