<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8"> 
<style>
body { background:url(http://img.kuai.xunlei.com/img/v2/log_bg.jpg) repeat; }
.bg_404{ background:url(__PUBLIC__/Home/images/b_stop.jpg) no-repeat center center; width:545px; height:373px; margin:50px auto; position:relative;}
.bg_404 p{ position:relative; top:65px; left:280px; line-height:30px; font-size:18px; color:#2b1f1f;}
.bg_404 a{ color:#fff; position:relative; top:72px; left:330px;}
</style>
</head>
<body>
<div class="bg_404"><p>Sorry!<br>The crypto currency is not yet<br>open for trading!</p><a class="back_home_btn" href="{:U('Orders/currency_trade')}" title="Back to home">Back to home</a></div>

</body></html>